<template lang="html">
  <div>
    <v-toolbar>
      <v-toolbar-title>
        <img
        :src="appLogo"
        class="img-responsive"
        width="200"
        height="50"
        @click="$router.push('/')"
        style="cursor:pointer"
        >
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon class="hidden-md-and-up"></v-toolbar-side-icon>
      <v-toolbar-text>
        <span>{{$t('message.dataBuyingPaying')}}</span>
      </v-toolbar-text>
    </v-toolbar>
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex md9 offset-md2>
          <!-- note page -->
          <note-page> </note-page>
        </v-flex>
      </v-layout>
      <br>
      <v-layout row wrap>
        <v-flex md9 offset-md2 >
          <!-- transfer page -->
          <transfer-page> </transfer-page>
        </v-flex>
      </v-layout>
    </v-container>
	</div>
</template>

<script>
  import AppConfig from "Constants/AppConfig";

  //component
  import NotePage from "./NotePage.vue";
  import TransferPage from "./TransferPage.vue";

export default {
  components:{
    NotePage,
    TransferPage
  },
  data(){
    return{
      appLogo: AppConfig.appLogo2,
    }
  },
  created() {
    this.$store.state.settings.header = false;
  },
}
</script>

<style lang="css">

</style>
