<template lang="html">
  <v-card class="note">
    <v-card-text>
      <v-layout row wrap>
        <v-flex md2>
          <h2>Gambar</h2>
        </v-flex>
        <v-flex md10>
          <span class="judul subheading">{{note.title}}</span>
          <ul class="my-3">
            <li> <span>{{note.content.pay}}</span> </li>
            <li> <span>{{note.content.transfer}}</span> </li>
          </ul>
          <span class="red--text">{{note.content.learn}}</span>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
import { note } from './data';

export default {
  data(){
    return {
      note
    }
  }
}
</script>

<style lang="css" scoped>
  .judul{
    font-weight: bold;
  }
</style>
