<template lang="html">
  <div>
    <v-card>
      <v-card-title class="title-transfer-page">
        <h4>{{$t('message.viaTransfer')}}</h4>
      </v-card-title>
      <v-card-text class="text-md-center">
        <v-layout row wrap>
          <v-flex md12 class="ma-4">
            <span>{{$t('message.timeLimit')}} <b class="title">{{transfer.limit}}</b> </span>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex md12>
            {{$t('message.totalBill')}}
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex md12>
            <b class="headline">{{transfer.money}}</b>
          </v-flex>
        </v-layout>
        <v-layout row wrap class="mb-5">
          <v-flex md12>
            <v-tooltip bottom color="black">
              <span class="tooltip-text" v-clipboard="copySum" color="error" slot="activator">{{$t('message.copySum')}}</span>
              <span class="tooltip-note" >{{$t('message.copySumNote')}}</span>
            </v-tooltip>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex md12>
            {{$t('message.billNumber')}}
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex md12>
            <!-- code bill number -->
            <h1 class="red--text">{{transfer.billNumber}}</h1>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex md12>
          <span class="my-4">Petunjuk pembayaran melalui transfer</span>
          <!-- intruction -->
          <Intruction> </Intruction>
        </v-flex>
      </v-layout>
      <br>
      <v-layout row wrap>
        <v-flex md12>
          <span class="my-4">Pembayaran dapat dilakukan ke salah satu rekening a/n OrderLink.in Berikut: </span>
          <Paying> </Paying>
        </v-flex>
      </v-layout>
      <br>
      <v-layout row wrap>
        <v-flex md12>
          <span>
            Pembelianmu dicatat dengan nomor tagihan Pembayaran {{transfer.billNumber}}. OrderLink akan melakukan verifikasi otomatis
            paling lama 30 menit setelah kamu melakukan pembayaran. Jika kamu menghadapi kendala mengenai pembayaran, silahkan
            langsung Hubungi OrderLink.
          </span>
          <br>
          <button-payment> </button-payment>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  // components
  import Intruction from './components/Intruction.vue';
  import Paying from './components/Paying.vue';
  import ButtonPayment from './components/ButtonPayment.vue';

  // data
  import { transfer } from './data';

export default {
  data(){
    return{
      transfer,
      copySum: transfer.money,
    }
  },
  components: {
    Intruction,
    Paying,
    ButtonPayment
  }
}
</script>

<style lang="css">
  .title-transfer-page{
    background-color:#FAFAFA;
  }
  b{
    font-weight:bold;
  }
  .tooltip-note{
    font-size:1.3em;
  }
  .tooltip-text:hover{
    border-bottom: 1px dotted #000;
    cursor:pointer;
  }
</style>
