<!-- Header Structure -->
<template>
	<div>
		<v-navigation-drawer
			v-if="!horizontal"
			app
			fixed
			v-model="drawer"
			:mini-variant="collapseSidebar"
			mini-variant-width="70"
			:width="250"
			class="Vuely-sidebar"
			:style="{backgroundImage: 'url(' + selectedSidebarBgImage.url + ')'}"
			:class="{'background-none': !backgroundImage}"
			:right="rtlLayout"
		>
			<!-- App Sidebar -->
			<app-sidebar></app-sidebar>
		</v-navigation-drawer>
		<v-toolbar
			class="Vuely-toolbar"
			app
			:color="activeHeaderFilter.class"
			fixed
		>
			<div class="d-custom-flex align-items-center navbar-left">
				<div v-if="!horizontal">
					<v-toolbar-side-icon icon large @click.stop="drawer = !drawer" class="v-step-0"></v-toolbar-side-icon>
				</div>
				<div class="site-logo-wrap d-custom-flex ml-0 align-items-center" v-else>
					<router-link to="/" class=" site-logo-img">
						<img src="/images/logo-orderlink.png" alt="site logo" width="120">
					</router-link>
				</div>
				<span class="body-2">{{this.$store.state.settings.link}}</span>
				<!-- <v-breadcrumbs divider=">">
				 <v-breadcrumbs-item
					 v-for="item in category1"
					 :key="item.title"
					 :disabled="item.disabled"
				 >
					 <router-link
						:to="{path: '/'}"
					 >
					 	<span class="black--text">{{ $t(item.title) }}</span>
					 </router-link>
				 </v-breadcrumbs-item>
			 </v-breadcrumbs> -->
				<!-- <v-text-field flat solo  :placeholder="$t('message.search')" class="search-bar pl-3"></v-text-field> -->
				<!-- <v-btn color="primary">{{$t('message.createLink')}}</v-btn> -->
				<!-- prepend-icon="search" -->
				<div class="mobile-search d-none">
					<v-btn flat icon  small class="mobile-search-btn" >
						<v-icon class="font-md">search</v-icon>
					</v-btn>
				</div>
			</div>
			<div class="navbar-right">
				<!-- <v-btn icon large @click="toggleFullScreen" class="full-screen ma-0">
					<v-icon color="grey">fullscreen</v-icon>
				</v-btn> -->

				<v-menu
            bottom
            offset-y
            left
            content-class="userblock-dropdown"
            nudge-top="-10"
            nudge-right="0"
            transition="slide-y-transition"
         >
            <v-list-tile-avatar slot="activator">
            <img :src="'https://www.gravatar.com/avatar/'+md5(user.email)" alt="avatar" height="40" width="40" class="img-responsive" />
        </v-list-tile-avatar>
            <div class="dropdown-content">
                <div class="dropdown-top white--text primary">
                    <span class="white--text fs-14 fw-bold d-block">{{user.name}}</span>
                    <span class="d-block fs-12 fw-light">{{user.email}}</span>
                </div>
                <v-list class="dropdown-list">
                    <!-- <v-list-tile to="/users/user-profile">
                        <i class="ti-user mr-3 primary--text"></i>
                        <span>{{$t('message.userProfile')}}</span>
                    </v-list-tile>
                    <v-list-tile to="/inbox">
                        <i class="ti-email mr-3 success--text"></i>
                        <span>{{$t('message.inbox')}}</span>
                    </v-list-tile>
                    <v-list-tile to="/users/users-list">
                        <i class="ti-bell mr-3 info--text"></i>
                        <span>{{$t('message.usersList')}}</span>
                    </v-list-tile> -->
                    <v-list-tile @click="logoutUser()">
                        <i class="ti-power-off mr-3 error--text"></i>
                        <span>{{$t('message.logOut')}}</span>
                    </v-list-tile>
                </v-list>
            </div>
        </v-menu>
				<!-- <v-btn outline>logout</v-btn> -->
			</div>
		</v-toolbar>
		<mobile-search-form></mobile-search-form>
	</div>
</template>

<script>
import md5 from 'md5';
import Sidebar from "../Sidebar/Sidebar.vue";
import ChatSidebar from "../ChatSidebar/ChatSidebar.vue";
import screenfull from "screenfull";
import LanguageProvider from "./LanguageProvider";
import Notifications from "./Notifications";
import Cart from "./Cart";
import QuickLinks from "./QuickLinks";
import MobileSearchForm from "./MobileSearchForm";

import {
  category1
} from "../AppHorizontalMenus/AppLinks";

import { mapGetters } from "vuex";

export default {
  props: {
    horizontal: {
      default: false,
      type: Boolean
    }
  },
  data() {
    return {
      md5,
			user,
      collapsed: false, // collapse sidebar
      drawer: true, // sidebar drawer default true
      chatSidebar: false, // chat component right sidebar
      sidebarImages: "", // sidebar background images
      enableDefaultSidebar: false,
			items: [
        {
          text: 'Dashboard',
          disabled: false
        },
        {
          text: 'Link 1',
          disabled: false
        },
        {
          text: 'Link 2',
          disabled: true
        }
      ],
			category1,
			// link: this.$store.settings.link,
    };
  },
  computed: {
    ...mapGetters([
      "rtlLayout",
      "backgroundImage",
      "backgroundImage",
      "selectedSidebarBgImage",
		"darkMode",
		"collapseSidebar",
		"activeHeaderFilter"
	])
  },
  methods: {
    // toggle full screen method
    toggleFullScreen() {
      if (screenfull.enabled) {
        screenfull.toggle();
      }
		},
	  logoutUser() {
      axios.post('/logout').then(response=>{

      },error=>{
          window.location = '/login';
      })
    }
  },
  components: {
    appSidebar: Sidebar,
    ChatSidebar,
    LanguageProvider,
    Notifications,
    Cart,
    QuickLinks,
    MobileSearchForm
  }
};
</script>
