<template lang="html">
  <v-layout row wrap>
    <v-flex md12 offset-md1>
      <h1>Sandi's Activies Summary</h1>
      <v-card>
        <v-layout row wrap>
          <v-flex md3>
            <v-card-title primary-title>
              <span><h2>Traffic Summary</h2></span>
            </v-card-title>
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex md3>
            <v-card-title primary-title>
              <span class="caption">last 30 days</span>
              <v-select
                v-bind:items="items"
                v-model="value"
                single-line
                bottom
                class="mt-0"
              >
              </v-select>
            </v-card-title>
          </v-flex>
      </v-layout>
        <lineChart> </lineChart>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import lineChart from '../../../components/Charts/HorizontalBarChart';

export default {
  components:{
    lineChart
  },
  data(){
    return{
      items: [
        'Jun 1 - Jun 30, 2018'
      ],
      value:''
    }
  }
}
</script>

<style lang="css">
</style>
