<template lang="html">
  <v-layout row wrap>
    <v-flex md5 offset-md1>
      <v-card>
        <v-layout row wrap>
          <v-flex md7>
            <v-card-title primary-title>
              <span class="headline">Monthly Traffic Credit:</span>
            </v-card-title>
          </v-flex>
          <v-flex md3 offset-md1>
            <v-card-title primary-title>
              <v-btn color="primary">Top Up
                <v-icon class="material-icon plus">add</v-icon>
              </v-btn>
            </v-card-title>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex md12>
            <v-card-title primary-title>
              <div>
                <span> <h1 class="display-3">398K / 500K</h1> </span>
                <span class="red--text">
                  <v-icon class="material-icons">arrow_downward</v-icon>
                  13.8% vs last month
                </span>
              </div>
              <v-progress-linear v-model="valueDeterminate"></v-progress-linear>
            </v-card-title>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
    <v-flex md6>
      <v-card>
        <v-layout row wrap>
          <v-flex md7>
            <v-card-title primary-title>
              <span class="headline">Store Credit:</span>
            </v-card-title>
          </v-flex>
          <v-flex md3 offset-md1>
            <v-card-title primary-title>
              <v-btn color="primary">Top Up
                <v-icon class="material-icon plus">add</v-icon>
              </v-btn>
            </v-card-title>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex md6>
            <v-card-title primary-title>
              <div>
                <span><h1 class="display-3"> 2871 </h1></span>
                <span class="title">SMS</span>
              </div>
            </v-card-title>
          </v-flex>
          <v-flex md6>
            <v-card-title primary-title>
              <div >
                <span><h1 class="display-3"> 2241 </h1></span>
                <span class="title">EMAIL</span>
              </div>
            </v-card-title>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data(){
    return{
      valueDeterminate: 50,
    }
  }
}
</script>

<style lang="css">
  .plus{
    font-size:15px;
  }
</style>
