<template lang="html">
  <v-layout row wrap>
    <v-flex md5>
      <v-card>
        <v-card-title primary-title>
          <h1>Top Performing</h1>
        </v-card-title>
        <v-card-title primary-title>
          <v-layout row wrap>
            <v-flex md12>
              <v-data-table
                :headers="performing.headers"
                :items="performing.values"
                class="evelation-1"
              >
              <template slot="headerCell" slot-scope="props">
                <v-tooltip bottom>
                  <span slot="activator">
                    {{ props.header.text }}
                  </span>
                  <span>
                    {{ props.header.text }}
                  </span>
                </v-tooltip>
              </template>
              <template slot="items" slot-scope="props">
                <td>{{props.item.link}}</td>
                <td>{{props.item.created}}</td>
                <td>{{props.item.type}}</td>
                <td>{{props.item.all_clicks}}</td>
              </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-card-title>
      </v-card>
    </v-flex>
    <v-flex md4>
      <v-card>
        <v-card-title primary-title>
          <h1>Top Referrer</h1>
        </v-card-title>
        <v-card-title primary-title>
          <v-layout row wrap>
            <v-flex md12>
              <v-data-table
                :headers="referrer.headers"
                :items="referrer.values"
                class="evelation-1"
              >
              <template slot="headerCell" slot-scope="props">
                <v-tooltip bottom>
                  <span slot="activator">
                    {{ props.header.text }}
                  </span>
                  <span>
                    {{ props.header.text }}
                  </span>
                </v-tooltip>
              </template>
              <template slot="items" slot-scope="props">
                <td>{{props.item.referrer}}</td>
                <td>{{props.item.all_clicks}}</td>
              </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-card-title>
      </v-card>
    </v-flex>
    <v-flex md3>
      <v-card>
        <v-card-title primary-title>
          <h1>Top Region</h1>
        </v-card-title>
        <v-card-title primary-title>
          <v-layout row wrap>
            <v-flex md12>
              <v-data-table
                :headers="region.headers"
                :items="region.values"
                class="evelation-1"
              >
              <template slot="headerCell" slot-scope="props">
                <v-tooltip bottom>
                  <span slot="activator">
                    {{ props.header.text }}
                  </span>
                  <span>
                    {{ props.header.text }}
                  </span>
                </v-tooltip>
              </template>
              <template slot="items" slot-scope="props">
                <td>{{props.item.referrer}}</td>
                <td>{{props.item.all_clicks}}</td>
              </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>

import {
  performing, referrer, region
} from './../data';

export default {
  data(){
    return{
      performing:{
        headers: performing.headers,
        values: performing.values
      },
      referrer:{
        headers: referrer.headers,
        values: referrer.values
      },
      region:{
        headers: region.headers,
        values: region.values
      }
    }
  }
}
</script>

<style lang="css">
</style>
