body{
  background-color:#F4F7FA;
}
.navbar-default{
  border-radius:0px;
  height: 70px;
  padding-left: 60px;
  background-color:white;
}
.navbar-right li a {
  font-size: 1.4em;
  cursor:pointer;

}
.judul{
  font-weight: bold;
  font-size:1.3em;
}
.my-3{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:1.2em;
}
.red--text{
  color:red;
  font-size:1.1em;
}
.time-limit{
  margin:30px;
  font-size:1.3em;
}
.headline{
  font-size:1.9em;
}
.red--text{
  color:red;
}
.bill-number-code{
  font-size:1.7em;
}
.bill-number{
  font-size:1.3em;
}
.tooltip-text:hover{
  border-bottom: 1px dotted #000;
  cursor:pointer;
}
.tooltip-text{
  border-bottom: 1px dotted #000;
  cursor:pointer;
}
.transfer{
  font-size:1.1em;
}
.col-md-12 ol li{
  font-size:1.1em;
}
.img-bank{
  width:9em;
}
.box-bank{
  background-color:white;
  border:2px solid #F4F7FA;
  height:170px;
  padding-top:15px;
}



/* helpers */
.ml-3{
  margin-left:30px;
}
.mx-3{
  margin-left:30px;
  margin-right:30px;
}
.ml-4{
  margin-left:40px;
}
.my-4{
  margin-top:40px;
  margin-bottom:40px;
}
.py-2{
  padding-top:20px;
  padding-bottom:20px;
}
.bg-gray{
  background-color:#F4F7FA;
}
.bg-white{
  background-color:white;
}
