*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

#milligram {
  color: #606c76;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}

#milligram .button,
#milligram button,
#milligram input[type='button'],
#milligram input[type='reset'],
#milligram input[type='submit'] {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

#milligram .button:focus,
#milligram .button:hover,
#milligram button:focus,
#milligram button:hover,
#milligram input[type='button']:focus,
#milligram input[type='button']:hover,
#milligram input[type='reset']:focus,
#milligram input[type='reset']:hover,
#milligram input[type='submit']:focus,
#milligram input[type='submit']:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: 0;
}

#milligram .button[disabled],
#milligram button[disabled],
#milligram input[type='button'][disabled],
#milligram input[type='reset'][disabled],
#milligram input[type='submit'][disabled] {
  cursor: default;
  opacity: .5;
}

#milligram .button[disabled]:focus,
#milligram .button[disabled]:hover,
#milligram button[disabled]:focus,
#milligram button[disabled]:hover,
#milligram input[type='button'][disabled]:focus,
#milligram input[type='button'][disabled]:hover,
#milligram input[type='reset'][disabled]:focus,
#milligram input[type='reset'][disabled]:hover,
#milligram input[type='submit'][disabled]:focus,
#milligram input[type='submit'][disabled]:hover {
  background-color: #9b4dca;
  border-color: #9b4dca;
}

#milligram .button.button-outline,
#milligram button.button-outline,
#milligram input[type='button'].button-outline,
#milligram input[type='reset'].button-outline,
#milligram input[type='submit'].button-outline {
  background-color: transparent;
  color: #9b4dca;
}

#milligram .button.button-outline:focus,
#milligram .button.button-outline:hover,
#milligram button.button-outline:focus,
#milligram button.button-outline:hover,
#milligram input[type='button'].button-outline:focus,
#milligram input[type='button'].button-outline:hover,
#milligram input[type='reset'].button-outline:focus,
#milligram input[type='reset'].button-outline:hover,
#milligram input[type='submit'].button-outline:focus,
#milligram input[type='submit'].button-outline:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: white;
}

#milligram .button.button-outline[disabled]:focus,
#milligram .button.button-outline[disabled]:hover,
#milligram button.button-outline[disabled]:focus,
#milligram button.button-outline[disabled]:hover,
#milligram input[type='button'].button-outline[disabled]:focus,
#milligram input[type='button'].button-outline[disabled]:hover,
#milligram input[type='reset'].button-outline[disabled]:focus,
#milligram input[type='reset'].button-outline[disabled]:hover,
#milligram input[type='submit'].button-outline[disabled]:focus,
#milligram input[type='submit'].button-outline[disabled]:hover {
  border-color: inherit;
  color: #9b4dca;
}

#milligram .button.button-full,
#milligram button.button-full,
#milligram input[type='button'].button-full,
#milligram input[type='reset'].button-full,
#milligram input[type='submit'].button-full {
  width: 100%;
}

#milligram .button.button-clear,
#milligram button.button-clear,
#milligram input[type='button'].button-clear,
#milligram input[type='reset'].button-clear,
#milligram input[type='submit'].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: #9b4dca;
}

#milligram .button.button-clear:focus,
#milligram .button.button-clear:hover,
#milligram button.button-clear:focus,
#milligram button.button-clear:hover,
#milligram input[type='button'].button-clear:focus,
#milligram input[type='button'].button-clear:hover,
#milligram input[type='reset'].button-clear:focus,
#milligram input[type='reset'].button-clear:hover,
#milligram input[type='submit'].button-clear:focus,
#milligram input[type='submit'].button-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: #606c76;
}

#milligram .button.button-clear[disabled]:focus,
#milligram .button.button-clear[disabled]:hover,
#milligram button.button-clear[disabled]:focus,
#milligram button.button-clear[disabled]:hover,
#milligram input[type='button'].button-clear[disabled]:focus,
#milligram input[type='button'].button-clear[disabled]:hover,
#milligram input[type='reset'].button-clear[disabled]:focus,
#milligram input[type='reset'].button-clear[disabled]:hover,
#milligram input[type='submit'].button-clear[disabled]:focus,
#milligram input[type='submit'].button-clear[disabled]:hover {
  color: #9b4dca;
}

#milligram hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3.0rem 0;
}

#milligram input[type='email'],
#milligram input[type='number'],
#milligram input[type='password'],
#milligram input[type='search'],
#milligram input[type='tel'],
#milligram input[type='text'],
#milligram input[type='url'],
#milligram textarea,
#milligram select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
}

#milligram input[type='email']:focus,
#milligram input[type='number']:focus,
#milligram input[type='password']:focus,
#milligram input[type='search']:focus,
#milligram input[type='tel']:focus,
#milligram input[type='text']:focus,
#milligram input[type='url']:focus,
#milligram textarea:focus,
#milligram select:focus {
  border-color: #9b4dca;
  outline: 0;
}

#milligram select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
  padding-right: 3.0rem;
}

#milligram select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

#milligram textarea {
  min-height: 6.5rem;
}

#milligram label,
#milligram legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

#milligram fieldset {
  border-width: 0;
  padding: 0;
}

#milligram input[type='checkbox'],
#milligram input[type='radio'] {
  display: inline;
}

#milligram .label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

#milligram .button,
#milligram button,
#milligram dd,
#milligram dt,
#milligram li {
  margin-bottom: 1.0rem;
}

#milligram fieldset,
#milligram input,
#milligram select,
#milligram textarea {
  margin-bottom: 1.5rem;
}

#milligram blockquote,
#milligram dl,
#milligram figure,
#milligram form,
#milligram ol,
#milligram p,
#milligram pre,
#milligram table,
#milligram ul {
  margin-bottom: 2.5rem;
}

#milligram b,
#milligram strong {
  font-weight: bold;
}

#milligram p {
  margin-top: 0;
}

#milligram h1,
#milligram h2,
#milligram h3,
#milligram h4,
#milligram h5,
#milligram h6 {
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
}

#milligram h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}

#milligram h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

#milligram h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

#milligram h4 {
  font-size: 2.2rem;
  letter-spacing: -.08rem;
  line-height: 1.35;
}

#milligram h5 {
  font-size: 1.8rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
}

#milligram h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

#milligram table {
  border-spacing: 0;
  width: 100%;
}

#milligram td,
#milligram th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  text-align: left;
}

#milligram td:first-child,
#milligram th:first-child {
  padding-left: 0;
}

#milligram td:last-child,
#milligram th:last-child {
  padding-right: 0;
}

#milligram .container {
  margin: 0 auto;
  max-width: 65.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}

#milligram .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  width: 100%;
}

#milligram .row.row-no-padding {
  padding: 0;
}

#milligram .row.row-no-padding > .column {
  padding: 0;
}

#milligram .row.row-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#milligram .row.row-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#milligram .row.row-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#milligram .row.row-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#milligram .row.row-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#milligram .row.row-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#milligram .row .column {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}

#milligram .row .column.column-offset-10 {
  margin-left: 10%;
}

#milligram .row .column.column-offset-20 {
  margin-left: 20%;
}

#milligram .row .column.column-offset-25 {
  margin-left: 25%;
}

#milligram .row .column.column-offset-33,
#milligram .row .column.column-offset-34 {
  margin-left: 33.3333%;
}

#milligram .row .column.column-offset-50 {
  margin-left: 50%;
}

#milligram .row .column.column-offset-66,
#milligram .row .column.column-offset-67 {
  margin-left: 66.6666%;
}

#milligram .row .column.column-offset-75 {
  margin-left: 75%;
}

#milligram .row .column.column-offset-80 {
  margin-left: 80%;
}

#milligram .row .column.column-offset-90 {
  margin-left: 90%;
}

#milligram .row .column.column-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
}

#milligram .row .column.column-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

#milligram .row .column.column-25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

#milligram .row .column.column-33,
#milligram .row .column.column-34 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

#milligram .row .column.column-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
}

#milligram .row .column.column-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

#milligram .row .column.column-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
}

#milligram .row .column.column-66,
#milligram .row .column.column-67 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666%;
          flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

#milligram .row .column.column-75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

#milligram .row .column.column-80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

#milligram .row .column.column-90 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  max-width: 90%;
}

#milligram .row .column .column-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#milligram .row .column .column-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#milligram .row .column .column-center {
  -ms-flex-item-align: center;
      align-self: center;
}

@media (min-width: 40rem) {
  #milligram .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem);
  }

  #milligram .row .column {
    margin-bottom: inherit;
    padding: 0 1.0rem;
  }
}

