<!-- New Emails Widget -->
<template>
    <v-container>
        <v-layout row wrap>
            <app-card colClasses="xl12 lg12 md12 xs12 sm12" heading="Daftar Rotator" :fullBlock="true" :closeable="true" :reloadable="true" :fullScreen="true">

                <vue-perfect-scrollbar style="height:700px" :settings="settings">
                    <ul class="new-mail list-unstyled">
                        <li @click="$router.push('/rotator/edit/'+link.id)" v-for="link in link_rotators" :key="link.id">
                            <div class="clearfix mb-2">
                                <div class="left d-flex justify-start">

                                    <template>
                                    <v-avatar size="35" class="warning mr-3">
                                       <span small class="white--text"> {{link.list_link.length}}</span>
                                    </v-avatar>
                                </template>
                     <v-list-tile-content>
                        <h5 class="mb-0">{{link.title}} ({{link.methods}})</h5>
                        <span class="fs-12 grey--text">{{link.url}}</span>
                     </v-list-tile-content>
                  </div>
                  <div class="right">
                     <span class="fs-12">19 Mar 2017</span>
                  </div>
               </div>
            </li>
         </ul>
      </vue-perfect-scrollbar>


      	</app-card>
			</v-layout>
   </v-container>
</template>
<script>
    import axios from "Api";
    export default {
        data() {
            return {
                settings: {
                    maxScrollbarLength: 50
                },

                //   linkrotator data
                link_rotators: [],
            };
        },
        created(){
          this.$store.state.settings.link = 'Links > Rotator > All Rotator'
        },
        // call get email method
        mounted() {
            this.getLinkRotators();
        },
        methods: {
            // get data from API
            getLinkRotators() {
                axios.get('/link-rotator').then(response => {
                    response.data.forEach(item => {
                        item.list_link = JSON.parse(item.list_link);
                        this.link_rotators.push(item);
                    })

                });
            },

        }
    };
</script>
