<template>
    <v-container grid-list-md>
         <v-alert :value="api_version == '1.0'" type="info">

            link ini masih menggunakan API lama, silakan klik simpan untuk melakukan pembaharuan
        </v-alert>
        <v-card>
            <v-card-title>
                <v-btn to="/rotator" icon>
                    <v-icon>arrow_back</v-icon>
                </v-btn> <h3 class="mt-2">ROTATOR</h3>
                <v-spacer></v-spacer>
                <v-btn @click="savePage()" class="primary">SIMPAN</v-btn>
                 <v-btn target="_blank" :href="'//'+this.url" v-if="$route.params.id" class="warning">PREVIEW</v-btn>
            </v-card-title>
        </v-card>

        <v-layout row wrap>
            <v-flex xs12 md4>
                <v-card class="mt-3">
                    <v-card-text>
                        <h4>Identitas</h4>
                        <br>
                        <v-text-field label="title" v-model="title"></v-text-field>
                        <v-select @change="generateDomain()" label="Pilih Domain" v-model="selected_domain.main" :items="domains" item-value="domain" item-text="domain"></v-select>
                        <v-layout row>
                            <v-flex>
                                <v-text-field readonly :value="`${selected_domain.main}/goto/`"></v-text-field>
                            </v-flex>
                            <v-flex>
                                <v-text-field v-model="selected_domain.ext"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs12 md8>
                <v-card class="mt-3">
                    <v-card-text>
                        <h4>Rotator Stream</h4>
                        <br>
                        <v-select v-model="methods" :items="['Sequence','Random']" label="Metode Pemilihan"></v-select>
                        <draggable v-model="list_link" :options="{group:'link',handle:'.handle'}" @start="drag=true" @end="drag=false">
                            <v-layout row wrap v-for="(item,index) in list_link" :key="index">
                                <v-flex xs12>
                                    <v-layout row>
                                        <v-flex style="max-width : 100px">
                                            <v-layout row>
                                                <v-icon @click="deleteLink(index)">delete</v-icon>
                                                <v-icon @click="copyLink(item,index)">content_copy</v-icon>
                                                <v-icon class="handle">menu</v-icon>
                                                <v-icon @click="item.active = !item.active">{{(item.active) ? 'visibility' : 'visibility_off'}}</v-icon>
                                            </v-layout>
                                        </v-flex>
                                        <v-flex>
                                            <v-text-field @focus="dialog = true;focusLink=item" v-model="item.link" :label="'Link #'+item.id"></v-text-field>
                                        </v-flex>
                                        <!-- <v-flex xs2 v-if="methods == 'Random'">
                                            <v-text-field v-model="item.c" label="Persentase"></v-text-field>
                                        </v-flex> -->
                                    </v-layout>
                                </v-flex>
                                <v-flex xs12>
                                    <span>filter rules : {{item.filter_rules.length}}</span>
                                    <v-select label="Filter Berdasarkan" v-model="item.choose_rule" @change="addFilter(item);" :items="filter_choices"></v-select>
                                    <div :key="ix" v-for="(i,ix) in item.filter_rules">
                                        <v-layout row v-if="i.type == 'Jam Kerja'">
                                            <v-flex style="max-width : 20px">
                                                <v-icon @click="item.filter_rules.splice(ix,1)">delete</v-icon>
                                            </v-flex>
                                            <v-flex>
                                                <label class="mt-4">{{i.type}} (GMT+7)</label>
                                            </v-flex>
                                            <v-flex>
                                                <v-menu ref="menu" :close-on-content-click="false" :nudge-right="40" :return-value.sync="i.from" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                                                    <v-text-field slot="activator" v-model="i.from" label="Waktu Mulai" prepend-icon="access_time" readonly></v-text-field>
                                                    <v-time-picker v-model="i.from" format="24hr" @change="$refs.menu.save(i.from)"></v-time-picker>
                                                </v-menu>
                                            </v-flex>
                                            <v-flex>
                                                <v-menu ref="menu" :close-on-content-click="false" :nudge-right="40" :return-value.sync="i.until" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                                                    <v-text-field slot="activator" v-model="i.until" label="Waktu Selesai" prepend-icon="access_time" readonly></v-text-field>
                                                    <v-time-picker v-model="i.until" format="24hr" @change="$refs.menu.save(i.until)"></v-time-picker>
                                                </v-menu>
                                            </v-flex>
                                        </v-layout>
                                        <v-layout row v-if="i.type == 'Negara'">
                                            <v-flex style="max-width : 20px">
                                                <v-icon @click="item.filter_rules.splice(ix,1)">delete</v-icon>
                                            </v-flex>
                                            <v-flex style="max-width : 80px">
                                                <label class="mt-4">{{i.type}}</label>
                                            </v-flex>
                                            <v-flex xs2>
                                                <v-select :items="['include','exclude']" v-model="i.choice"></v-select>
                                            </v-flex>
                                            <v-flex>
                                                <v-select v-model="i.country" multiple :items="list_country" item-value="code" item-text="name"></v-select>
                                            </v-flex>
                                        </v-layout>
                                        <v-layout row v-if="i.type == 'Provinsi'">
                                            <v-flex style="max-width : 20px">
                                                <v-icon @click="item.filter_rules.splice(ix,1)">delete</v-icon>
                                            </v-flex>
                                            <v-flex style="max-width : 80px">
                                                <label class="mt-4">{{i.type}} (ID only)</label>
                                            </v-flex>
                                            <v-flex xs2>
                                                <v-select :items="['include','exclude']" v-model="i.choice"></v-select>
                                            </v-flex>
                                            <v-flex>
                                                <v-select v-model="i.province" multiple :items="list_province" item-value="short" item-text="name"></v-select>
                                            </v-flex>
                                        </v-layout>
                                    </div>
                                    <v-divider></v-divider>
                                </v-flex>
                            </v-layout>
                        </draggable>
                        <v-btn @click="addLink()">TAMBAH LINK</v-btn>
                    </v-card-text>
                </v-card>
                <v-card class="mt-3">
                        <v-card-text>
                            <h4>Global Filters</h4>
                             <v-text-field label="Bounce URL" v-model="bounce_url"></v-text-field>
                              <v-select label="Filter Berdasarkan" v-model="choose_rule" @change="addGlobalFiter();" :items="filter_choices"></v-select>
                                    <div :key="ix" v-for="(i,ix) in filters">
                                        <v-layout row v-if="i.type == 'Jam Kerja'">
                                            <v-flex style="max-width : 20px">
                                                <v-icon @click="filters.splice(ix,1)">delete</v-icon>
                                            </v-flex>
                                            <v-flex>
                                                <label class="mt-4">{{i.type}} (GMT+7)</label>
                                            </v-flex>
                                            <v-flex>
                                                <v-menu ref="menu" :close-on-content-click="false" :nudge-right="40" :return-value.sync="i.from" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                                                    <v-text-field slot="activator" v-model="i.from" label="Waktu Mulai" prepend-icon="access_time" readonly></v-text-field>
                                                    <v-time-picker v-model="i.from" format="24hr" @change="$refs.menu.save(i.from)"></v-time-picker>
                                                </v-menu>
                                            </v-flex>
                                            <v-flex>
                                                <v-menu ref="menu" :close-on-content-click="false" :nudge-right="40" :return-value.sync="i.until" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                                                    <v-text-field slot="activator" v-model="i.until" label="Waktu Selesai" prepend-icon="access_time" readonly></v-text-field>
                                                    <v-time-picker v-model="i.until" format="24hr" @change="$refs.menu.save(i.until)"></v-time-picker>
                                                </v-menu>
                                            </v-flex>
                                        </v-layout>
                                        <v-layout row v-if="i.type == 'Negara'">
                                            <v-flex style="max-width : 20px">
                                                <v-icon @click="filters.splice(ix,1)">delete</v-icon>
                                            </v-flex>
                                            <v-flex style="max-width : 80px">
                                                <label class="mt-4">{{i.type}}</label>
                                            </v-flex>
                                            <v-flex xs2>
                                                <v-select :items="['include','exclude']" v-model="i.choice"></v-select>
                                            </v-flex>
                                            <v-flex>
                                                <v-select v-model="i.country" multiple :items="list_country" item-value="code" item-text="name"></v-select>
                                            </v-flex>
                                        </v-layout>
                                        <v-layout row v-if="i.type == 'Provinsi'">
                                            <v-flex style="max-width : 20px">
                                                <v-icon @click="filters.splice(ix,1)">delete</v-icon>
                                            </v-flex>
                                            <v-flex style="max-width : 80px">
                                                <label class="mt-4">{{i.type}} (ID only)</label>
                                            </v-flex>
                                            <v-flex xs2>
                                                <v-select :items="['include','exclude']" v-model="i.choice"></v-select>
                                            </v-flex>
                                            <v-flex>
                                                <v-select v-model="i.province" multiple :items="list_province" item-value="short" item-text="name"></v-select>
                                            </v-flex>
                                        </v-layout>
                                    </div>
                        </v-card-text>
                    </v-card>
            </v-flex>
        </v-layout>
        <v-dialog v-model="dialog" width="500">
            <v-card>
                <div>
                    <v-toolbar color="warning" dark tabs>
                        <v-text-field append-icon="mic" class="mx-3" flat label="Search" prepend-inner-icon="search" solo-inverted></v-text-field>
                        <v-tabs slot="extension" v-model="tabs" centered color="transparent" slider-color="white">
                            <v-tab v-for="n in dialog_menu" :key="n">
                                {{n}}
                            </v-tab>
                        </v-tabs>
                    </v-toolbar>
                    <v-tabs-items v-model="tabs">
                        <v-tab-item>
                            <v-card>
                                <v-card-text>
                                    <v-text-field label="Link Tujuan" v-model="focusLink.link"></v-text-field>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item>
                            <v-card>
                                <v-card-text>
                                    PIXELINK
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item>
                            <v-card>
                                <v-card-text>
                                    ORDERLINK
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                    </v-tabs-items>
                </div>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="dialog = false;getTitle()">
                        Simpan
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
    import draggable from 'vuedraggable'
    import list_country from 'Constants/list-country.js'
    import list_province from 'Constants/list-province-id.json'
    import axios from 'Api';
    export default {
        components: {
            draggable,
        },
        mounted() {
            axios.get('/my-domain').then(response => {
                this.domains = response.data;
                if (this.domains.length > 0) {
                    if (this.$route.params.id) {
                        var interval = setInterval(()=>{
                            if(this.url){
                                var url = this.url.split('/');
                                this.selected_domain.main = url[0];
                                this.selected_domain.ext = url[2];
                                clearInterval(interval);
                            }
                        },100)
                    } else {
                        this.selected_domain.main = this.domains[0].domain
                    }
                }
            });
            if (this.$route.params.id) {
                axios.get('/link-rotator/' + this.$route.params.id).then(response => {
                    Object.keys(response.data).forEach(key => {
                        if (key == 'list_link') {
                            if(response.data.api_version == '4.0'){
                                 this.$data[key] = JSON.parse(response.data[key])
                            }else{
                                var olddata = JSON.parse(response.data.list_link);
                                olddata.forEach((item,index)=>{
                                    // this.list_link[index].title = item.title;
                                    // this.list_link[index].link = item.title;
                                    // this.list_link[index].c = item.c;
                                    // if(index < (olddata.length-1)){
                                    //     this.addLink();
                                    // }
                                    this.list_link[index].title = item.title;
                                    this.list_link[index].link = item.link;
                                    this.list_link[index].c = item.c;
                                    if(index < (olddata.length-1)){
                                        this.addLink();
                                    }
                                })
                            }

                        }else if (key == 'filters') {
                             if(response.data.api_version == '4.0'){
                                 this.$data[key] = JSON.parse(response.data[key])
                             }

                        }else{
                            this.$data[key] = response.data[key];

                        }
                    })
                })
            }
        },
        data: () => ({
            list_country,
            list_province,
            selected_domain: {
                main: '',
                ext: ''
            },
            url: '',
            id : '',
            domains: [],
            choose_rule : '',
            filter_choices: ['Jam Kerja', 'Negara', 'Provinsi'],
            id_counter: 1,
            tabs: null,
            dialog: false,
            focusLink: {},
            title : '',
            dialog_menu: ['Manual', 'Pixelink', 'Orderlink'],
            methods: 'Sequence',
            filters: [],
            api_version: '4.0',
            list_link: [{
                "link": "",
                "c": 100,
                id: 1,
                "title": "",
                active: true,
                choose_rule: '',
                filter_rules: [],
            }],
        }),
        created(){
          this.$store.state.settings.link = 'Links > Rotator > Create New Rotator'
        },
        methods: {
            getTitle() {
                axios.get('https://graph.facebook.com?id=' + this.focusLink.link).then((response) => {
                    // success callback
                    if (response.data.og_object) {
                        this.focusLink.title = response.data.og_object.title;
                    }
                }, (response) => {
                    // error callback
                });
            },
            addLink() {
                this.list_link.push({
                    "link": '',
                    "c": 100,
                    "title": "",
                    id: ++this.id_counter,
                    active: true,
                    choose_rule: '',
                    filter_rules: []
                })
                this.rewriteCoefisient()
            },
            rewriteCoefisient() {
                var count = this.list_link.length;
                this.list_link.forEach(item => {
                    item.c = (100 / count)
                })
            },
            copyLink(item, index) {
                var data = JSON.parse(JSON.stringify(item));
                data.id = ++this.id_counter;
                this.list_link.splice(index + 1, 0, data);
            },
            deleteLink(index) {
                this.list_link.splice(index, 1)
            },
            generateDomain() {
                if(this.url){
                    return;
                }
                this.selected_domain.ext = Math.random().toString(36).substr(2, 5);
                this.url = this.selected_domain.main + '/goto/' + this.selected_domain.ext;
            },
            addFilter(item) {
                if (item.choose_rule) {
                    item.filter_rules.push({
                        'type': item.choose_rule,
                        from: '08:00',
                        until: '22:00',
                        choice: 'include',
                        country: [],
                        province: [],
                    });
                    setTimeout(() => {
                        item.choose_rule = '';
                    }, 100)
                }
            },
            addGlobalFiter(){
                if(this.choose_rule){
                     this.filters.push({
                        'type': this.choose_rule,
                        from: '08:00',
                        until: '22:00',
                        choice: 'include',
                        country: [],
                        province: [],
                    });
                    setTimeout(() => {
                        this.choose_rule = '';
                    }, 100)
                }
            },
            savePage() {
                var data = {};
                data.list_link = (JSON.stringify(this.list_link))
                data.filters = (JSON.stringify(this.filters))
                data.id = this.id;
                data.title = this.title;
                data.url = this.url;
                data.bounce_url = this.bounce_url;
                data.api_version = '4.0';
                data.methods = this.methods;

                axios.post('/link-rotator', data).then(response => {
                    console.log(response)
                })
            }
        }
    }
</script>
