<template lang="html">
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex md12 >
          <v-layout row wrap>
            <v-flex md3 offset-md1>
              <h1>OVERVIEW</h1>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex md3>
              <span class="caption">last 30 days</span>
              <v-select
                v-bind:items="items"
                v-model="value"
                single-line
                bottom
                class="mt-0"
              >
              </v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md10 offset-md1 height="10%">
              <!-- cart -->
              <bar-chart :height="110" :dataSets="earnedToday">
              </bar-chart>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex md12>
          <v-card>
            <v-card-text>
              <select-table> </select-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
</template>

<script>
import BarChart from "Components/Charts/BarChart";
import SelectTable from "./SelectTable.vue";

import {data, earnedToday} from './data';

export default {
  components: {
    BarChart, SelectTable
  },
  created(){
    this.$store.state.settings.link = 'Links > Pixel Link > All Pixel Link'
  },
  data(){
    return{
      value: '',
      items: ['Jun 1 - Jun 30, 2018'],
      selected: [],
      data: {
        headers: data.headers,
        values: data.values
      },
      earnedToday
    }
  }
}
</script>

<style lang="css" scope>
</style>
