<template lang="html">
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex md4 offset-md2 class="mt-5">
        <h1 class="primary--text">Create a Pixel Link..</h1>
      </v-flex>
    </v-layout>
    <Link :data="data"></Link>
    <v-layout row wrap class="mt-3">
      <v-flex md3 offset-md2 class="text-md-center pt-4">
        <!-- <span>Track Facebook Pixel?</span> -->
        Track Facebook Pixel?
      </v-flex>
      <v-flex md1>
        <v-switch
          hide-details
          v-model="switch1"
        ></v-switch>
      </v-flex>
    </v-layout>
    <Facebook :data="data"> </Facebook>
    <v-layout row wrap class="mt-3">
      <v-flex md3 offset-md2 class="text-md-center pt-4">
        <!-- <span>Track Facebook Pixel?</span> -->
        Use Google Ads Remarketing Tag ?
      </v-flex>
      <v-flex md1>
        <v-switch
          hide-details
          v-model="switch2"
        ></v-switch>
      </v-flex>
    </v-layout>
    <google-ads :data="data"> </google-ads>
    <v-layout row wrap>
      <v-flex md3 offset-md2 class="text-md-center pt-4">
        Track Google Analytics ?
      </v-flex>
      <v-flex md1>
        <v-switch
          hide-details
          v-model="switch3"
          ></v-switch>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Link from './componentCreate/Link.vue';
import Facebook from './componentCreate/Facebook.vue';
import GoogleAds from './componentCreate/GoogleAds.vue';
import GoogleAnalytics from './componentCreate/GoogleAnalytics.vue';

export default {
  components:{
    Link, Facebook, GoogleAds, GoogleAnalytics
  },
  created(){
    this.$store.state.settings.link = 'Links > Pixel Link > Create New Pixel Link'
  },
  data(){
    return{
      data: {
        name: 'Jhone Doe',
        urlTarget:'497 Evergreen Rd.',
        urlProtocol: ['http://'],
        domain: ['domain.com'],
        urlCustome: '/cs2c',
        method: [302],
        time: [500],
        tracking:['Pixel ACS', 'Pixel BCS', 'Pixel CSD'],
        event: ['ViewContent','ChatWA1','ATC_1000']
      },
      checkbox: true,
      radioGroup: 1,
      switch1: true,
      switch2: true,
      switch3: true

    }
  }
}
</script>

<style lang="css" scope>

</style>
