<template lang="html">
  <v-container grid-list-md>
    <analytic-data> </analytic-data>
    <helper-table> </helper-table>
    <v-layout row wrap>
      <v-flex md12>
        <!-- chart -->
        <bar-chart :height="110" :dataSets="earnedToday">
        </bar-chart>
      </v-flex>
    </v-layout>
    <show-table></show-table>
  </v-container>
</template>

<script>
import AnalyticData from './componentDetail/AnalyticData.vue';
import HelperTable from './componentDetail/HelperTable.vue';
import ShowTable from './componentDetail/ShowTable.vue';

import BarChart from "Components/Charts/BarChart";
import {earnedToday} from './data';

export default {
  components:{
    AnalyticData, ShowTable, HelperTable, BarChart
  },
  created(){
    this.$store.state.settings.link = 'Links > Pixel Link > Detail Pixel Link'
  },
  data(){
    return{
      earnedToday
    }
  }
}
</script>

<style lang="css">

</style>
