<template>
	<div>
		<page-title-bar></page-title-bar>
		<app-section-loader :status="loader"></app-section-loader>
		<v-container fluid grid-list-xl py-0>
			<app-card
				:fullBlock="true"
			>
				<v-card-title>
					<v-text-field
						append-icon="search"
						label="Search"
						single-line
						hide-details
						v-model="search"
					>
					</v-text-field>
					<v-spacer></v-spacer>
					<v-btn color="default" small>{{$t('message.bulkAction')}}</v-btn>
					<v-btn color="default" small>{{$t('message.downloadCSV')}}</v-btn>
					<v-btn color="primary" medium>
						{{$t('message.createLink')}}
						<v-icon class="material-icon">add</v-icon>
					</v-btn>
				</v-card-title>
				<v-data-table
					:headers="data.headers"
					:items="data.values"
					:search="search"
					v-model="selected"
					item-key="name"
					select-all
				>
				<template slot="headerCell" slot-scope="props">
					<v-tooltip bottom>
						<span slot="activator">
							{{ props.header.text }}
						</span>
						<span>
							{{ props.header.text }}
						</span>
					</v-tooltip>
				</template>
				<template slot="items" slot-scope="props">
					<td>
						<v-checkbox
							color="primary"
							hide-details
							v-model="props.selected"
						></v-checkbox>
					</td>
					<td>{{ props.item.name }}</td>
          <td>{{ props.item.label}}</td>
          <td>{{ props.item.link}}</td>
          <td>{{ props.item.created}}</td>
          <td>{{ props.item.original}}</td>
				</template>
				</v-data-table>
			</app-card>
		</v-container>
	</div>
</template>

<script>
import {data} from './data';
import api from "Api";

export default {
  data() {
    return {
      data
    };
  },
  mounted() {
    this.getTablesData();
  },
  methods: {
    getTablesData() {
      api
        .get("vuely/tablesData.js")
        .then(response => {
          this.loader = false;
          this.items = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
