<template lang="html">
  <div>
    <v-flex md12>
      <v-btn block large color="red" class="white--text">{{$t('message.showBillPayment')}}</v-btn>
    </v-flex>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="css">
</style>
