<template lang="html">
  <div>
    <v-card>
      <v-card-text>
        <v-layout row wrap>
          <v-flex md3>
            <v-layout row wrap>
              <v-flex md12>
                gambar 1
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex md12>
                <ol>
                  <li>{{intruction[0]}}</li>
                </ol>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex md3>
            <v-layout row wrap>
              <v-flex md12>
                gambar 2
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex md12>
                <ol start="2">
                  <li class="mb-5">{{intruction[1]}}</li>
                </ol>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex md3>
            <v-layout row wrap>
              <v-flex md12>
                gambar 3
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex md12>
                <ol start="3">
                  <li class="mb-4">{{intruction[2]}}</li>
                </ol>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex md3>
            <v-layout row wrap>
              <v-flex md12>
                gambar 4
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex md12>
                <ol start="4">
                  <li class="mb-5">{{intruction[3]}}</li>
                </ol>
              </v-flex>
            </v-layout>
          </v-flex>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import {intruction} from './../data';

export default {
  data(){
    return{
      intruction
    }
  }
}
</script>

<style lang="css">
</style>
