<template lang="html">
  <div>
    <v-layout row wrap>
      <v-flex md6 v-for="(item, index) in bank" :key="index">
        <v-card>
          <v-card-text class="text-md-center">
            <div >
              <img :src="item.logo" class="img-responsive img-bank">
            </div>
            <span>{{item.name}}</span> <br>
            <span>{{item.rekening}}</span> <br><br>
            <span v-clipboard="item.rekening" class="tooltip-text">Salin No. Rek</span>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  import {bank} from './../data';

export default {
  data(){
    return{
      bank
    }
  }
}
</script>

<style lang="css" scoped>
  .img-bank{
    width:6em;
  }
</style>
