<template>

    <v-layout row wrap>
        <app-card :heading="$t('message.newsletterCampaign')" :closeable="true" :fullScreen="true" :reloadable="true" :fullBlock="false" colClasses="xl8 lg8 md7 sm12 xs12">
            <news-letter-campaign :height="310" :label1="newsLetterCampaignData.label1" :label2="newsLetterCampaignData.label2" :labels="newsLetterCampaignData.labels" :data1="newsLetterCampaignData.data1" :data2="newsLetterCampaignData.data2"></news-letter-campaign>
        </app-card>
        
    </v-layout>
</template>
<script>
    import NewsLetterCampaign from "Components/Charts/NewsLetterCampaign";
    
    export default {
        components: {
            NewsLetterCampaign
        },
        data: () => ({
            newsLetterCampaignData: {
                label1: 'Data 1',
                label2: 'Data 2',
                labels: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                data1: [45, 42, 51, 19, 50, 30, 22, 20, 45, 35, 40, 37],
                data2: [32, 28, 40, 38, 32, 42, 39, 15, 9, 17, 20, 41]
            }
        })
    }
</script>