<template lang="html">
  <v-layout row wrap>
    <v-flex md12>
      <v-card>
        <v-card-title primary-title>
          <v-flex md1 class="text-md-right">
            <v-icon class="back primary--text font-weight-medium">keyboard_backspace</v-icon>
          </v-flex>
          <v-flex md10>
            <div>
              <span class="font-large">Analytics data for <span class="primary--text">boleh.click/CSIrman</span> </span><br>
              <span>Created Jun 15, 2017</span><br>
              <span>Target URL: </span>
            </div>
          </v-flex>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
}
</script>

<style lang="css">
  .back{
    font-size:55px;
    margin-bottom:35px;
  }
  .font-large{
    font-size:24px;
  }
</style>
