<template lang="html">
  <v-layout row wrap>
    <v-flex md12>
      <v-layout row wrap>
        <v-flex md2 offset-md1 class="text-md-center">
          <v-card>
            <v-card-text>
              <p class="text-md-center mb-0">{{$t('message.totalClicks')}}</p>
              <p class="font-large mb-0">2098</p>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex md6 class="text-md-right">
          <v-layout row wrap class="mt-3" >
            <v-flex md3 class="mt-2">
              <a href="#" class="black--text caption link"  >
                {{$t('message.downloadCSV')}}
              </a>
            </v-flex>
            <v-flex md3 >
              <span class="font-large">Timeframe:</span>
            </v-flex>
            <v-flex md4>
              <span class="caption text-md-left">last 30 days</span>
              <v-select
                v-bind:items="items"
                v-model="value"
                single-line
                bottom
                class="mt-0"
              >
              </v-select>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data(){
    return{
      items: [
        'Jun 1 - Jun 30, 2018'
      ],
      value:''
    }
  }
}
</script>

<style lang="css">
  .link{
    text-decoration:underline;
  }
</style>
