<template lang="html">
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex md8 offset-md2>
        <v-card>
          <v-card-title>
            <div>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </div>
            <v-spacer></v-spacer>
            <div class="mt-1">
              <v-select
                :items="items"
                v-model="value"           

              ></v-select>
            </div>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search"
          >
            <template slot="items" slot-scope="props">
              <td class="text-md-left">{{ props.item.name }}</td>
              <td class="text-md-left">{{ props.item.percentage }}</td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data(){
    return{
      headers: [
        { text: 'Name', align:'left', sortable: false, value:'name'},
        { text: 'Percentage', align:'left', sortable: false, value:'percentage'}
      ],
      desserts:[
        { value: '', name: '1 Indonesia', percentage: '35%'},
        { value: '', name: '1 Indonesia', percentage: '35%'}
      ],
      items:[ 'Country', 'Region/Province', 'City', 'ISP', 'Browser']
    }
  }
}
</script>

<style lang="css">
</style>
