<template lang="html">
  <v-layout row wrap>
    <v-flex md6 offset-md2 >
      <v-card>
        <v-card-title primary-title>
          <v-flex md12>
            <span class="primary--text">Facebook Tracking Pixel (Support Multiple ID)</span>
            <v-select
              :items="data.tracking"
              v-model="value"
              chips
              multiple
              solo
            ></v-select>
          </v-flex>
          <v-flex md12>
            <span class="primary--text">Facebook Pixel Event (Support Multiple Event)</span>
            <v-select
              :items="data.event"
              v-model="value"
              chips
              multiple
              solo
            ></v-select>
          </v-flex>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: ['data']
}
</script>

<style lang="css">
</style>
