<template lang="html">
  <v-layout row wrap>
    <v-flex md6 offset-md2>
      <v-card>
        <v-card-title primary-title >
          <v-flex md12>
            <span class="primary--text">Name Link</span>
            <v-text-field
              name="name"
              placeholder="Name Link"
              v-model="data.name"
              hover
              single-line
              outline
              id="id"
            ></v-text-field>
          </v-flex>
          <v-flex md12>
            <span class="primary--text">URL Target (Wajib diawali http: atau https://)</span>
            <v-text-field
              name="name"
              placeholder="http://"
              v-model="data.urlTarget"
              single-line
              outline
              id="id"
            ></v-text-field>
          </v-flex>
          <v-flex md12>
            <span class="primary--text">Pilih Protokol URL</span>
            <v-select
              :items="data.urlProtocol"
              v-model="urlProtocol"
              label=""
              solo
              primary
            ></v-select>
          </v-flex>
          <v-flex md6>
            <span class="primary--text">Pilih Domain Anda</span>
            <v-select
              :items="data.domain"
              v-model="domain"
              label=""
              solo
              primary
            ></v-select>
          </v-flex>
          <v-flex md6>
            <span class="primary--text">Custom URL (bisa diedit)</span>
            <v-text-field
              name="name"
              placeholder="http://"
              v-model="data.urlCustome"
              single-line
              outline
              id="id"
            ></v-text-field>
          </v-flex>
          <v-flex md6>
            <span class="primary--text">Redirect Method</span>
            <v-select
              :items="data.method"
              v-model="method"
              label=""
              solo
              primary
            ></v-select>
          </v-flex>
          <v-flex md6>
            <span class="primary--text">Redirect Time (ms)</span>
            <v-text-field
              name="name"
              placeholder="http://"
              v-model="data.time"
              single-line
              outline
              id="id"
            ></v-text-field>
          </v-flex>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props:['data'],
  data(){
    return{
      urlProtocol: '',
      domain: '',
      method: ''
    }
  }
}
</script>

<style lang="css">
</style>
