<template lang="html">
  <v-container class="ma-0 pa-0" fluid grid-list-xl>
    <v-layout row wrap>
      <v-flex md10 offset-md1 xs12>
        <v-card class="">
          <v-card-title>
            <v-btn to="/forms" icon>
              <v-icon>arrow_back</v-icon>
            </v-btn>
            <h3 class="mt-2">FORM BUILDER</h3>
            <v-spacer></v-spacer>
            <v-btn v-if="view == 'builder'" @click="view = 'pengaturan'" outline>PENGATURAN</v-btn>
            <v-btn v-if="view == 'pengaturan'" @click="view = 'builder'" outline>BUILDER</v-btn>
            <v-btn @click="saveForm()" class="primary">SIMPAN</v-btn>
            <v-btn @click="getEmbededCode()" outline v-if="$route.params.id" color="primary">EMBED CODE</v-btn>
            <!-- <v-btn target="_blank" :href="'//'+this.url" v-if="$route.params.id" class="warning">PREVIEW</v-btn> -->
          </v-card-title>
          <v-card-text class="mt-0 pt-1">
            <v-divider class="mt-0 pt-0"></v-divider>
            <v-layout row wrap class="mt-0 pt-0">
              <v-btn small @click="addFormToList(item)" outline v-for="item in form_choices" :key="item">{{item}}</v-btn>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 md5 offset-md1 :class="{'overflow-scroll':$vuetify.breakpoint.mdAndUp}">
        <div v-html="coloringForm()"></div>
        <draggable v-if="view == 'builder'" v-model="form.form_array" :options="{group:'form',handle:'.handle'}" @start="drag=true" @end="drag=false">
          <v-layout row wrap v-for="(item,index) in form.form_array" :key="item.id">
            <v-flex xs12>
              <v-card>
                <v-card-text>
                  <v-layout row justify-space-between>
                    <div class="handle " style="cursor : move;margin-left:12px;margin-top:7px;"><img src="/images/reorder.png" width="25px"></div>
                    <h3 @click="item.opened = !item.opened" style="margin-left : 10px; margin-right : auto;margin-top:5px;cursor:pointer"> <span>{{item.label}}</span>
                      <v-icon style="padding-bottom:3px;">{{item.opened ? 'expand_less' : 'expand_more'}}</v-icon>
                    </h3>
                    <v-icon style="font-size : 30px" @click="form.form_array.splice(index,1);">delete</v-icon>
                  </v-layout>
                  <v-layout row wrap v-if="item.opened == true">
                    <v-flex v-if="label_list.includes(item.type)" xs12 md6>
                      <v-text-field v-model="item.label" label="label">
                      </v-text-field>
                    </v-flex>
                    <v-flex v-if="placeholder_list.includes(item.type)" xs12 md6>
                      <v-text-field v-model="item.placeholder" label="placeholder">
                      </v-text-field>
                    </v-flex>
                    <v-flex v-if="choices_list.includes(item.type)" xs12 md10 v-for="(i,idx) in item.choices" :key="i">
                      <v-text-field v-model="item.choices[idx]" :label="`Pilihan ${idx+1}`">
                      </v-text-field>
                    </v-flex>
                    <div v-if="choices_list.includes(item.type)">
                      <v-btn small outline @click="item.choices.push('Pilihan '+(item.choices.length+1))">TAMBAH PILIHAN</v-btn>
                    </div>
                    <v-flex xs12 v-if="item.type == 'text'">
                      <froala tag="div" :config="config" v-model="item.text"></froala>
                    </v-flex>
                    <!-- button -->
                    <v-flex xs12 v-if="item.type == 'submit button'">
                      <v-layout row wrap>
                        <v-flex xs12>
                          <v-text-field v-model="item.label" label="button text"></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-layout>
                            <v-flex>
                              <v-text-field v-model="item.button_color" label="Warna  Button"></v-text-field>
                            </v-flex><input style="margin-top : 35px" type="color" v-model="item.button_color"></v-layout>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-layout>
                            <v-flex>
                              <v-text-field v-model="item.button_text_color" label="Warna Text Button"></v-text-field>
                            </v-flex><input style="margin-top : 35px" type="color" v-model="item.button_text_color"></v-layout>
                        </v-flex>
                        <v-flex xs12>
                          <v-textarea v-model="form.action_script" label="action script (js only)"></v-textarea>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                    <!-- ongkir -->
                    <v-flex xs12 v-if="item.type == 'ongkir'">
                      <h4>Pilih Lokasi Anda Mengirim Produk</h4>
                      <v-layout row wrap>
                        <v-flex xs12 md6>
                          <v-select @input="getCity()" :items="list_province" item-value="province_id" item-text="province" v-model="form.store_location.province" label="Pilih Provinsi"></v-select>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-select :items="list_city" item-value="city_id" item-text="list_city_show" v-model="form.store_location.city" label="Pilih Kota/Kabupaten"></v-select>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-select :items="list_courier" multiple v-model="form.store_location.courier_list" label="Pilih Kurir"></v-select>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                    <!-- tujuan -->
                    <v-flex xs12 v-if="item.type == 'tujuan'">
                      <v-layout row wrap>
                        <v-flex xs12 md6>
                          <v-text-field label="label provinsi" v-model="item.province_label"></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-text-field label="label kabupaten" v-model="item.city_label"></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-text-field label="label kecamatan" v-model="item.subdistrict_label"></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                    <!-- produk -->
                    <v-flex xs12 v-if="item.type == 'produk'">
                      <v-layout row wrap>
                        <v-flex xs12 v-for="(i,idx) in item.produk" :key="idx">
                          <v-layout row>
                            <v-flex xs2 md1>
                              <v-icon @click="item.produk.splice(idx,1)">delete</v-icon>
                            </v-flex>
                            <v-flex xs10 md11>
                              <v-text-field v-model="i.product_name" label="Nama Produk"></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 md5 offset-md1>
                              <v-text-field v-model="i.price" label="Harga"></v-text-field>
                            </v-flex>
                            <v-flex xs12 md5>
                              <v-text-field v-model="i.weight" label="berat"></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-divider></v-divider>
                        </v-flex>
                      </v-layout>
                      <v-layout>
                        <v-btn outline @click="item.produk.push({})">TAMBAH PRODUK</v-btn>
                      </v-layout>
                    </v-flex>
                    <v-flex class="" xs12>
                      <v-layout class="px-2">
                        <label v-if="required_list.includes(item.type)" class="checkbox-wrap ml-2" style="font-weight: normal;font-size: 17px;">dibutuhkan
                                                                                        <input  v-model="item.required" type="checkbox" checked="checked">
                                                                                        <span  class=" checkmark"></span>
                                                                                      </label>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </draggable>
        <div v-if="view == 'pengaturan'">
          <v-card>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs10>
                  <v-text-field label="Title" v-model="form.title"></v-text-field>
                </v-flex>
                <v-flex xs10>
                  <v-select v-if="form_has('produk')" :items="['tetap di halaman ini dan katakan sesuatu','pindah ke halaman lain','pindah ke halaman invoice']" v-model="form.after_submit_action.action" label="Event Setelah Submit"></v-select>
                  <v-select v-else :items="['tetap di halaman ini dan katakan sesuatu','pindah ke halaman lain']" v-model="form.after_submit_action.action" label="Event Setelah Submit"></v-select>
                </v-flex>
                <v-flex xs12 v-if="form.after_submit_action.action == 'tetap di halaman ini dan katakan sesuatu'">
                  <froala tag="div" :config="config" v-model="form.after_submit_action.say_something"></froala>
                </v-flex>
                <v-flex xs12 v-if="form.after_submit_action.action == 'pindah ke halaman lain'">
                  <v-text-field v-model="form.after_submit_action.new_url" label="pindah ke URL?" placeholder="https://google.co.id"></v-text-field>
                </v-flex>
                <v-flex xs10 md3>
                  <v-text-field label="Form Color" v-model="form.form_color"></v-text-field>
                </v-flex>
                <v-flex xs2 md1>
                  <input class="mt-4" style="margin-left : -8px" type="color" v-model="form.form_color">
                </v-flex>
                <v-flex xs10 md3>
                  <v-text-field label="Background Color" v-model="form.background_color"></v-text-field>
                </v-flex>
                <v-flex xs2 md1>
                  <input class="mt-4" style="margin-left : -8px" type="color" v-model="form.background_color">
                </v-flex>
                <v-flex xs12 md4>
                  <v-text-field label="Container Width" v-model="form.container_width"></v-text-field>
                </v-flex>
              </v-layout>
              <v-divider></v-divider>
              <h4>Native Page URL
                <v-btn :href="previewURL" outline small target="_blank">PREVIEW</v-btn>
              </h4>
              <v-layout id="native-url" row wrap>
                <v-flex xs12 md6>
                  <v-select @change="checkDomain()" :items="list_domain" item-text="domain" item-value="domain" v-model="domain.host" label="domain"></v-select>
                </v-flex>
                <v-flex xs12 md6>
                  <v-text-field @change="checkDomain()" prefix="/form/" v-model="domain.path"></v-text-field>
                </v-flex>
              </v-layout>
              <v-textarea hint="hanya digunakan pada native page, tidak pada embed code" auto-grow v-model="form.head_html" label="Head HTML"></v-textarea>
              <v-textarea hint="hanya digunakan pada native page, tidak pada embed code" auto-grow v-model="form.body_html" label="Body HTML"></v-textarea>
              <v-divider></v-divider>
              <h4 class="mt-3">Isi Konten Email ke Lead Baru</h4>
              <div>
                <p>anda bisa menggunakan special tag berikut di dalam konten email</p>
                <v-btn small @click="form.email_content_to_leads = form.email_content_to_leads+'${'+item+'}';" outline :key="item" v-for="item in special_form_list">{{item}}</v-btn>
              </div>
              <v-text-field class="mt-4" label="Email Subject" v-model="form.email_subject_to_leads"></v-text-field>
              <froala tag="div" :config="config" v-model="form.email_content_to_leads"></froala>
              <h4 class="mt-5">Daftar CS
                <v-btn small @click="form.cs_lists.push({})">TAMBAH CS</v-btn>
              </h4>
              <v-layout row wrap v-for="(item,index) in form.cs_lists" :key="index">
                <v-flex xs2 md1>
                  <v-icon @click="form.cs_lists.splice(index,1)">delete</v-icon>
                </v-flex>
                <v-flex xs10 md5>
                  <v-text-field label="Nama CS" v-model="item.nama"></v-text-field>
                </v-flex>
                <v-flex xs12 md6>
                  <v-text-field label="Email" v-model="item.email"></v-text-field>
                </v-flex>
              </v-layout>
              <div class="mt-5" v-if="form_has('produk')">
                <h4>Daftar Bank
                  <v-btn @click="form.banks.push({})" small>TAMBAH BANK</v-btn>
                </h4>
                <div v-for="item in form.banks" :key="item.rekening">
                  <v-layout row wrap>
                    <v-flex xs12 md6>
                      <v-select label="Nama Bank" :items="list_banks" v-model="item.nama_bank"></v-select>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field label="No. Rekening" v-model="item.rekening"></v-text-field>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field label="Nama Pemilik" v-model="item.nasabah"></v-text-field>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field label="Cabang" v-model="item.cabang"></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-btn small outline color="error" @click="form.banks.splice(index,1)">
                    <v-icon>delete</v-icon>hapus bank</v-btn>
                  <v-divider></v-divider>
                </div>
                <v-layout class="mt-4">
                  <v-layout class="mx-3">
                    <v-text-field label="Payment Webhook URL" v-model="form.payment_webhook_url" readonly></v-text-field>
                    <v-btn outline class="copy" :data-clipboard-text="form.payment_webhook_url">salin</v-btn>
                  </v-layout>
                </v-layout>
              </div>
            </v-card-text>
          </v-card>
        </div>
      </v-flex>
      <v-flex xs12 md5 :class="{'overflow-scroll':$vuetify.breakpoint.mdAndUp}">
        <v-card>
          <v-card-text>
            <div id="milligram">
              <draggable v-model="form.form_array" :options="{group:'form'}" @start="drag=true" @end="drag=false">
                <div v-for="item in form.form_array" :key="item.id">
                  <div v-if="input_list.includes(item.type)">
                    <label :for="item.id">{{item.label}}<span style="color: red !important" v-if="item.required">*</span></label>
                    <input type="text" :placeholder="item.placeholder" :id="item.id">
                  </div>
                  <div v-if="textarea_list.includes(item.type)">
                    <label :for="item.id">{{item.label}} <span style="color: red !important" v-if="item.required">*</span></label>
                    <textarea :placeholder="item.placeholder" :id="item.id"></textarea>
                  </div>
                  <div v-if="['dropdown'].includes(item.type)">
                    <label :for="item.id">{{item.label}}<span style="color: red !important" v-if="item.required">*</span></label>
                    <select :id="item.id">
                                                              <option v-for="i in item.choices" :value="i">{{i}}</option>
                                                            </select>
                  </div>
                  <div v-if="['pilihan ganda'].includes(item.type)">
                    <label class="mb-3" :for="item.id">{{item.label}}<span style="color: red !important" v-if="item.required">*</span></label>
                    <button class="button-outline button-full button-small" v-for="i in item.choices">{{i}}</button>
                  </div>
                  <div v-if="['upload'].includes(item.type)">
                    <button class="button-outline">{{item.label}}</button>
                  </div>
                  <div v-if="['tujuan'].includes(item.type)">
                    <label :for="item.id">{{item.province_label}}<span style="color: red !important">*</span></label>
                    <select @change="getCityView()" :id="item.id" v-model="user_location.province_id">
                                                                  <option :value="i.province_id" v-for="i in view_list_province" :key="i.province_id">{{i.province}}</option>
                                                              </select>
                    <label :for="item.id">{{item.city_label}}<span style="color: red !important">*</span></label>
                    <select @change="getSubdistrictView();" :id="item.id" v-model="user_location.city_id">
                                                                  <option :value="i.city_id" v-for="i in view_list_city" :key="i.city_id">{{i.list_city_show}}</option>
                                                              </select>
                    <label :for="item.id">{{item.subdistrict_label}}<span style="color: red !important">*</span></label>
                    <select @change="getUserLocation()" :id="item.id" v-model="user_location.data">
                                                                  <option :value="i" v-for="i in view_list_subdistrict" :key="i.subdistrict_id">{{i.subdistrict_name}}</option>
                                                              </select>
                  </div>
                  <div v-if="item.type == 'produk'">
                    <div>
                      <table>
                        <thead>
                          <tr>
                            <th>Nama Produk</th>
                            <th style="max-width:110px;">Jumlah</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(i, indx) in item.produk" :key="indx">
                            <td> <label class="checkbox-wrap" style="font-weight: normal;">{{i.product_name}} @Rp.{{i.price}}
                                                                                        <input @change="setTotalHarga()" v-model="i.check" type="checkbox" checked="checked">
                                                                                        <span class="checkmark"></span>
                                                                                      </label></td>
                            <td style="max-width:110px;"><input @input="setTotalHarga()" type="number" v-model="i.quantity" value="1"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="item.type == 'ongkir' && list_available_courier.length > 0" style="margin-bottom : 20px">
                    <hr>
                    <label>{{item.label}}<span style="color: red !important">*</span></label>
                    <br>
                    <div :key="i.name" v-for="i in list_available_courier">
                      <p>{{i.name}}</p>
                      <label :key="cost.service" v-for="cost in i.costs" class="radio-wrap">{{cost.service}} - Rp.{{cost.cost[0].value}}
                                      <input v-model="user_data.courier" @change="setTotalHarga()" :value="`${i.name},${cost.service},${cost.cost[0].value}`"  type="radio"  name="radio">
                                      <span class="checkmark"></span>
                                      </label>
                      <br>
                    </div>
                  </div>
                  <div v-if="item.type == 'total harga'">
                    <label>{{item.label}}</label>
                    <h4>Rp.{{user_data.total_harga.toLocaleString(['id'])}}</h4>
                  </div>
                  <div v-html="item.text" v-if="item.type == 'text'"></div>
                  <button v-if="item.type == 'submit button'" class="button-outline button-full" :style="{'border-color' : item.button_color, color : item.button_text_color, background : item.button_color, }">{{item.label}}</button>
                </div>
              </draggable>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-dialog v-model="embed_dialog" max-width="500">
      <v-card>
        <v-card-actions class="headline">Copy Script ini ke website anda
          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-text class="my-0 py-0">
          <v-textarea v-model="embeded_code"></v-textarea>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
  import draggable from 'vuedraggable'
  import ClipboardJS from 'clipboard';
  new ClipboardJS('.copy');
  export default {
    components: {
      draggable,
    },
   
    data: () => ({
      list_banks: ['BCA', 'BNI', 'MANDIRI', 'BRI'],
      config: {
        charCounterCount: false,
        events: {
          "froalaEditor.initialized": function() {
            console.log("initialized");
          }
        }
      },
      view: 'builder',
      special_form_list: ['nama', 'phone', 'email', 'produk', 'negara', 'provinsi', 'kabupaten', 'kecamatan', 'alamat', 'total_harga', 'deadline_transaksi'],
      form_choices: ['nama', 'phone', 'email', 'input', 'textarea', 'dropdown', 'produk', 'tujuan', 'alamat', 'ongkir', 'total harga', 'text', 'submit button'],
      input_list: ['nama', 'phone', 'email', 'input'],
      default_list: ['nama', 'phone', 'email', 'alamat', 'produk', 'tujuan', 'ongkir', 'submit button'],
      textarea_list: ['textarea', 'alamat'],
      required_list: ['nama', 'phone', 'email', 'input', 'textarea', 'dropdown', 'pilihan ganda', 'upload'],
      choices_list: ['dropdown', 'pilihan ganda'],
      placeholder_list: ['nama', 'phone', 'email', 'input', 'textarea', 'alamat'],
      label_list: ['nama', 'phone', 'email', 'input', 'textarea', 'dropdown', 'pilihan ganda', 'upload', 'alamat', 'ongkir', 'total harga'],
      list_courier: ['jne', 'pos', 'tiki', 'rpx', 'esl', 'pcp', 'pandu', 'wahana', 'sicepat', 'jnt', 'pahala', 'cahaya', 'sap', 'jet', 'indah', 'dse', 'slis', 'first', 'ncs', 'star', 'nss'],
      form: {
        form_array: [],
        id_counter: 0,
        action_script: '',
        store_location: {
          courier_list: [],
        },
        title: '',
        url: '',
        payment_webhook_url: '',
        head_html: '',
        body_html: '',
        after_submit_action: {
          action: 'tetap di halaman ini dan katakan sesuatu',
        },
        id: '',
        form_color: '#1565C0',
        background_color: '#eeeeee',
        banks: [{
          nama_bank: 'BCA'
        }],
        cs_lists: [{}],
        email_content_to_leads: '',
      },
      list_province: [],
      list_city: [],
      view_list_province: [],
      view_list_city: [],
      view_list_subdistrict: [],
      list_available_courier: [],
      user_data: {
        other: {},
        rincian_harga: {},
        produk: [],
        total_harga: 0
      },
      embeded_code: '',
      embed_dialog: false,
      user_location: {},
      list_domain: [],
      total_weight: 0,
      domain: {},
      previewURL : '',
    }),
    destroyed() {
      this.$store.state.settings.header = true;
    },
    created() {
      this.$store.state.settings.header = false;
    },
    mounted() {
      axios.get('/my-domain').then(response => {
        this.list_domain = response.data;
        if (this.list_domain.length > 0) {
          if (this.$route.params.id) {} else {
            this.domain.host = this.list_domain[0].domain;
            this.domain.path = Math.random().toString(36).substr(2, 10);
          }
        }
      });
      //  
      if (this.$route.params.id) {
        axios.get('/forms/' + this.$route.params.id).then(response => {
          this.form = response.data;
          ['store_location', 'form_array', 'after_submit_action', 'banks', 'cs_lists'].forEach(item => {
            this.form[item] = JSON.parse(this.form[item]);
          })
          if (this.form.url) {
            var url = this.form.url.split('/');
            this.previewURL - this.form.url;
            this.domain.host = url[0];
            this.domain.path = url[2];
            if (this.form_has('ongkir')) {
              this.getProvince();
            }
          }
        })
      } else {
        this.addFormToList('nama');
        this.addFormToList('phone');
        this.addFormToList('email');
        this.addFormToList('submit button');
      }
    },
    methods: {
      coloringForm() {
        return `<style>
  #milligram input[type='email']:focus,
  #milligram input[type='number']:focus,
  #milligram input[type='password']:focus,
  #milligram input[type='search']:focus,
  #milligram input[type='tel']:focus,
  #milligram input[type='text']:focus,
  #milligram input[type='url']:focus,
  #milligram textarea:focus,
  #milligram select:focus {
    border-color: ` + this.form.form_color + `;
  }
  .radio-wrap input:checked~.checkmark {
    background-color: ` + this.form.form_color + `;
  }
  .checkbox-wrap input:checked~.checkmark {
    background-color: ` + this.form.form_color + `;
  }
</style>`
      },
      getEmbededCode() {
        axios.get('/form-html/' + this.$route.params.id).then(response => {
          this.embeded_code = response.data;
          this.embed_dialog = true;
        })
      },
      getProvince() {
        axios.get('https://storeapi.orderlink.in/list/province').then((response) => {
          // success callback
          // console.log(response);
          this.list_province = response.data;
          this.view_list_province = response.data;
        }, (response) => {
          // error callback
        });
      },
      getCity() {
        axios.get('https://storeapi.orderlink.in/list/city?id=' + this.form.store_location.province).then((response) => {
          // success callback
          this.list_city = response.data;
          this.list_city.forEach(item => {
            item.list_city_show = item.type + ' ' + item.city_name;
          });
        }, (response) => {
          // error callback
        });
      },
      getCityView() {
        axios.get('https://storeapi.orderlink.in/list/city?id=' + this.user_location.province_id).then((response) => {
          // success callback
          this.view_list_city = response.data;
          this.view_list_city.forEach(item => {
            item.list_city_show = item.type + ' ' + item.city_name;
          });
        }, (response) => {
          // error callback
        });
      },
      getSubdistrictView() {
        axios.get('https://storeapi.orderlink.in/list/district?id=' + this.user_location.city_id).then(response => {
          // success callback
          this.view_list_subdistrict = response.data;
        }, (response) => {
          // error callback
        });
      },
      getUserLocation() {
        this.user_data.province = this.user_location.data.province;
        this.user_data.city = this.user_location.data.city;
        this.user_data.subdistrict = this.user_location.data.subdistrict_name;
        this.user_data.location_id = this.user_location.data.subdistrict_id;
        if (this.form_has('ongkir')) {
          if (!this.form.store_location.city) {
            alert('lokasi toko belum di set')
            return;
          }
          if (this.form.store_location.courier_list.length == 0) {
            alert('kurir belum di set')
            return;
          }
          if (this.total_weight == 0) {
            alert('produk belum dimasukkan')
            return;
          }
          axios.get('https://storeapi.orderlink.in/check/ongkir', {
            params: {
              origin: this.form.store_location.city,
              destination: this.user_data.location_id,
              weight: this.total_weight,
              courier: this.form.store_location.courier_list.join(':')
            }
          }).then(response => {
            this.list_available_courier = [];
            response.data.forEach(item => {
              if (item.costs.length > 0) {
                this.list_available_courier.push(item)
              }
            })
          })
        }
      },
      form_has(type) {
        var find = this.form.form_array.find(item => {
          return item.type == type;
        })
        if (find) {
          return find;
        } else {
          return false;
        }
      },
      checkDomain() {
        if (Object.keys(this.domain).length == 2) {
          var url = '//'+this.domain.host + '/form/' + this.domain.path;
          this.previewURL = url;
          axios.get(url).then(response => {
            alert('domain sudah digunakan')
          }, error => {
          });
        }
      },
      saveForm() {
        var data = JSON.parse(JSON.stringify(this.form));
        if (Object.keys(this.domain).length == 2) {
          data.url = this.domain.host + '/form/' + this.domain.path;
        }
        ['store_location', 'form_array', 'after_submit_action', 'banks', 'cs_lists'].forEach(item => {
          data[item] = JSON.stringify(data[item]);
        })
        axios.post('/forms', data).then((response) => {
          this.$router.push('/forms/edit/' + response.data.id);
        }, (response) => {
          // error callback
        });
      },
      addFormToList(type) {
        var check = this.default_list.map(item => {
          return type == item && (this.form_has(item));
        });
        if (check.includes(true)) {
          alert(type + ' sudah dimasukan')
          return;
        }
        if (type == 'ongkir' && (this.form_has('produk') == false)) {
          alert('produk belum dimasukan')
          return false;
        }
        if (type == 'ongkir' && this.form_has('tujuan') == false) {
          alert('tujuan belum dimasukan')
          return false;
        }
        if (type == 'total harga' && this.form_has('produk') == false) {
          alert('produk belum dimasukan')
          return false;
        }
        if (type == 'ongkir') {
          this.getProvince();
        }
        this.form.id_counter++;
        var data = {
          type: type,
          opened: false,
          label: type,
          id: 'form-' + this.form.id_counter,
          placeholder: '',
          text: '',
          required: false,
        };
        if (type == 'alamat') {
          data.required = true;
        }
        if (type == 'tujuan') {
          Object.assign(data, {
            province_label: 'pilih provinsi',
            city_label: 'pilih kota/kabupaten',
            subdistrict_label: 'pilih kecamatan'
          });
        }
        if (type == 'produk') {
          this.form.payment_webhook_url = location.protocol + '//' + location.host + '/accept/payment/' + Math.random().toString(36).substr(2, 10) + Math.random().toString(36).substr(2, 10) + Math.random().toString(36).substr(2, 10);
          Object.assign(data, {
            produk: [{
              check: false,
              quantity: 1
            }]
          });
        }
        if (type == 'ongkir') {
          data.label = 'pilih kurir pengiriman';
          data.required = true;
          Object.assign(data, {
            selected_province: '',
            selected_city: '',
            courier: [],
          })
        }
        if (this.choices_list.includes(type)) {
          Object.assign(data, {
            choices: ['Pilihan 1', 'Pilihan 2']
          })
        }
        if (type == 'submit button') {
          Object.assign(data, {
            button_color: '#4CAF50',
            button_text_color: 'white'
          })
        }
        this.form.form_array.push(data)
      },
      setTotalHarga(first) {
        console.log('ok')
        var price = 0;
        var weight = 0;
        var produk = this.form_has('produk').produk;
        produk.forEach((item, index) => {
          if (item.check) {
            price += parseInt(item.price) * parseInt(item.quantity);
            weight += parseInt(item.weight) * parseInt(item.quantity);
          }
        });
        this.total_weight = weight;
        var ongkir = 0;
        if (this.user_data.courier) {
          ongkir = parseInt(this.user_data.courier.split(',')[2]);
        }
        this.user_data.rincian_harga.harga = price;
        this.user_data.rincian_harga.ongkir = ongkir;
        this.user_data.total_harga = price + ongkir;
      },
    }
  }
</script>
<style>
  a[href="https://froala.com/wysiwyg-editor"],
  a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
    display: none !important;
    position: absolute;
    top: -99999999px;
  }
  #native-url .v-text-field__prefix {
    width: 60px;
  }
</style>
<style lang="sass">
</style>
<style>
  .checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default checkbox */
  .checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  /* On mouse-over, add a grey background color */
  .checkbox-wrap:hover input~.checkmark {
    background-color: #ccc;
  }
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the checkmark when checked */
  .checkbox-wrap input:checked~.checkmark:after {
    display: block;
  }
  /* Style the checkmark/indicator */
  .checkbox-wrap .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* The container */
  .radio-wrap {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default radio button */
  .radio-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  /* On mouse-over, add a grey background color */
  .radio-wrap:hover input~.checkmark {
    background-color: #ccc;
  }
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the indicator (dot/circle) when checked */
  .radio-wrap input:checked~.checkmark:after {
    display: block;
  }
  /* Style the indicator (dot/circle) */
  .radio-wrap .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  .overflow-scroll {
    max-height: calc(100vh - 210px);
    overflow: auto;
  }
</style>
