<template>
    <div :style="`max-width: ${form.container_width}`" class="container">
        <div v-html="coloringForm()"></div>

        <div v-if="view" v-for="item in form.form_array" :key="item.id">
            <div v-if="['nama'].includes(item.type)">
                <label :for="item.id">{{item.label}}<span style="color: red !important" v-if="item.required">*</span></label>
                <input type="text" v-model="user_data[item.type]" :placeholder="item.placeholder" :id="item.id">
            </div>
            <div v-if="['email'].includes(item.type)">
                <label :for="item.id">{{item.label}}<span style="color: red !important" v-if="item.required">*</span></label>
                <input type="email" v-model="user_data[item.type]" :placeholder="item.placeholder" :id="item.id">
            </div>
            <div v-if="['phone'].includes(item.type)">
                <label :for="item.id">{{item.label}}<span style="color: red !important" v-if="item.required">*</span></label>
                <input type="number" v-model="user_data[item.type]" :placeholder="item.placeholder" :id="item.id">
            </div>
            <div v-if="['input'].includes(item.type)">
                <label :for="item.id">{{item.label}}<span style="color: red !important" v-if="item.required">*</span></label>
                <input type="text" v-model="user_data.other[item.label]" :placeholder="item.placeholder" :id="item.id">
            </div>
            <div v-if="['alamat'].includes(item.type)">
                <label :for="item.id">{{item.label}}<span style="color: red !important" >*</span></label>
                <textarea v-model="user_data[item.type]" :placeholder="item.placeholder" :id="item.id"></textarea>
            </div>
            <div v-if="['textarea'].includes(item.type)">
                <label :for="item.id">{{item.label}}<span style="color: red !important" v-if="item.required">*</span></label>
                <textarea v-model="user_data.other[item.label]" :placeholder="item.placeholder" :id="item.id"></textarea>
            </div>
            <div v-if="['dropdown'].includes(item.type)">
                <label :for="item.id">{{item.label}}<span style="color: red !important" v-if="item.required">*</span></label>
                <select v-model="user_data.other[item.label]" :id="item.id">
                                                                <option v-for="i in item.choices" :key="i" :value="i">{{i}}</option>
                                                            </select>
            </div>
            <div v-if="['pilihan ganda'].includes(item.type)">
                <label class="mb-3" :for="item.id">{{item.label}}<span style="color: red !important" v-if="item.required">*</span></label>
                <button class="button-outline button-full button-small" v-for="i in item.choices" :key="i">{{i}}</button>
            </div>
            <div v-if="['upload'].includes(item.type)">
                <button class="button-outline">{{item.label}}</button>
            </div>
            <div v-if="['tujuan'].includes(item.type)">
                <label :for="item.id">{{item.province_label}}<span style="color: red !important" >*</span></label>
                <select @change="getCity()" :id="item.id" v-model="user_location.province_id">
                                                                <option :value="i.province_id" v-for="i in list_province" :key="i.province_id">{{i.province}}</option>
                                                            </select>
                <label :for="item.id">{{item.city_label}}<span style="color: red !important" >*</span></label>
                <select @change="getSubdistrict();" :id="item.id" v-model="user_location.city_id">
                                                                <option :value="i.city_id" v-for="i in list_city" :key="i.city_id">{{i.list_city_show}}</option>
                                                            </select>
                <label :for="item.id">{{item.subdistrict_label}}<span style="color: red !important" >*</span></label>
                <select @change="getUserLocation()" :id="item.id" v-model="user_location.data">
                                                                <option :value="i" v-for="i in list_subdistrict" :key="i.subdistrict_id">{{i.subdistrict_name}}</option>
                                                            </select>
            </div>
            <div v-if="item.type == 'produk'">
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Nama Produk</th>
                                <th style="max-width:110px;">Jumlah</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(i, indx) in user_data.produk" :key="indx">
                                <td> <label class="checkbox-wrap" style="font-weight: normal;">{{i.product_name}} @Rp.{{i.price}}
                                                                                      <input @change="setTotalHarga()" v-model="i.check" type="checkbox" checked="checked">
                                                                                      <span class="checkmark"></span>
                                                                                    </label></td>
                                <td style="max-width:110px;"><input @input="setTotalHarga()" type="number" v-model="i.quantity" value="1"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-if="item.type == 'ongkir' && list_available_courier.length > 0" style="margin-bottom : 20px">
                <hr>
                <label>{{item.label}}<span style="color: red !important" >*</span></label>
                <br>
                <div :key="i.name" v-for="i in list_available_courier">
                    <p>{{i.name}}</p>
                    <label :key="cost.service" v-for="cost in i.costs" class="radio-wrap">{{cost.service}} - Rp.{{cost.cost[0].value}}
                                    <input v-model="user_data.courier" @change="setTotalHarga()" :value="`${i.name},${cost.service},${cost.cost[0].value}`"  type="radio"  name="radio">
                                    <span class="checkmark"></span>
                                    </label>
                    <br>
                </div>
            </div>
            <div v-if="item.type == 'total harga'">
                <label>{{item.label}}</label>
                <h4>Rp.{{user_data.total_harga.toLocaleString(['id'])}}</h4>
            </div>
            <div v-html="item.text" v-if="item.type == 'text'"></div>
            <button @click="submitNow()" v-if="item.type == 'submit button'" class="button-outline button-full" :style="{'border-color' : item.button_color, color : item.button_text_color, background : item.button_color,'margin-top':'0.5rem'}">{{item.label}}</button>
        </div>
        <div v-if="!view">
            <div v-html="form.after_submit_action.say_something"></div>
        </div>

    </div>
</template>
<script>
    import axios from 'axios';
    import dial_code from 'Constants/dial_code.json';
    var query = getQueryParams(document.location.search);
   
    export default {
        props: ['id', 'server_url'],
        mounted() {
            this.getVisitorID();

            axios.get(this.server_url + '/forms/' + this.id).then(response => {
                this.form = response.data;
                ['store_location', 'form_array', 'after_submit_action', 'banks'].forEach(item => {
                    this.form[item] = JSON.parse(this.form[item]);
                })
                if (this.form_has('tujuan')) {
                    this.getProvince();
                }
                var produk = this.form_has('produk');
                if (produk) {
                    this.user_data.produk = produk.produk;
                    this.setTotalHarga(true);
                    this.user_data['status_transaksi'] = 'menunggu pembayaran';
                }
                this.user_data.form_id = this.form.id;
                this.getIP((data) => {
                    if (!this.user_data['phone']) {
                        if (this.form_has('phone')) {
                            var dc = dial_code.find(item => {
                                return item.code == data.countryCode;
                            })
                            this.user_data['phone'] = parseInt(dc.dial_code);
                        }
                    }
                    this.setUTM();
                    this.setUserAgent();

                    setTimeout(()=>{
                            this.saveStatistic();
                        },1000)
                })
            })
        },
        data: () => ({
            view : true,
            user_data: {
                other: {},
                rincian_harga: {},
                produk: [],
                total_harga: 0,
                referrer : document.referrer,
                page_url : window.location.href
            },
            user_location: {},
            loading: true,
            form: {},
            list_city: [],
            list_province: [],
            list_subdistrict: [],
            total_weight: 0,
            list_available_courier: [],
        }),
        methods: {
            autoSizeTextArea() {
                var textarea = document.querySelectorAll('textarea');
                textarea.forEach(item => {
                    item.addEventListener('keydown', autosize);
                })
                function autosize() {
                    var el = this;
                    setTimeout(function() {
                        el.style.cssText = 'height:auto; padding:0';
                        // for box-sizing other than "content-box" use:
                        // el.style.cssText = '-moz-box-sizing:content-box';
                        el.style.cssText = 'height:' + el.scrollHeight + 'px';
                    }, 0);
                }
            },
            setTotalHarga(first) {
                var price = 0;
                var weight = 0;
                var produk = this.user_data.produk;
                produk.forEach((item, index) => {
                    if (first) {
                        item.quantity = 1;
                        if (produk.length == 1) {
                            item.check = true;
                        } else {
                            item.check = false;
                        }
                        if (query.pid) {
                            if (query.pid.includes(index + 1)) {
                                item.check = true;
                            }
                        }
                    }
                    if (item.check) {
                        price += parseInt(item.price) * parseInt(item.quantity);
                        weight += parseInt(item.weight) * parseInt(item.quantity);
                    }
                });
                this.total_weight = weight;
                var ongkir = 0;
                if (this.user_data.courier) {
                    ongkir = parseInt(this.user_data.courier.split(',')[2]);
                }
                this.user_data.rincian_harga.harga = price;
                this.user_data.rincian_harga.ongkir = ongkir;
                this.user_data.total_harga = price + ongkir;
            },
            setUserAgent(){

            },
            setUTM() {
                Object.keys(query).forEach(key => {
                    if(['utm_source',
                        'utm_medium',
                        'utm_term',
                        'utm_content',
                        'utm_campaign'
                    ].includes(key)){
                        this.user_data[key] = query[key];
                    }
                })
            },
            saveStatistic(){
                var data = JSON.parse(JSON.stringify(this.user_data));

                axios.post(this.server_url + '/form-statistic', data).then(response => {

                    console.log(response.data);
                })
            },
            getVisitorID() {
                var visitor_id = localStorage.getItem('visitor_id');
                if (visitor_id) {
                    this.user_data.visitor_id = visitor_id;
                    this.user_data.visit_before_action = localStorage.getItem('counter_'+this.user_data.visitor_id) ? parseInt(localStorage.getItem('counter_'+this.user_data.visitor_id))+1 : 1;
                    var saved_data = localStorage.getItem(visitor_id);
                    if (saved_data) {
                        var data = JSON.parse(saved_data);
                        // 
                        ['nama', 'email', 'phone', 'alamat'].forEach(key => {
                            if (data[key])
                                this.user_data[key] = data[key];
                        });
                    }
                } else {
                    this.user_data.visitor_id = Math.random().toString(36).substr(2, 10);
                    this.user_data.visit_before_action = 1;
                    localStorage.setItem('visitor_id', this.user_data.visitor_id);
                  
                }
                  localStorage.setItem('counter_'+this.user_data.visitor_id, this.user_data.visit_before_action);
            },
            getIP(callback) {
                axios.get('https://extreme-ip-lookup.com/json/').then(response => {
                    callback(response.data);
                    Object.keys(response.data).forEach(key => {
                        if (key == 'ipType') {
                            this.user_data['ip_type'] = response.data[key];
                        } else if (key == 'query') {
                            this.user_data['ip'] = response.data[key];
                        } else {
                            this.user_data['ip_' + key] = response.data[key];
                        }
                    })
                    this.autoSizeTextArea();
                }, error => {
                    this.autoSizeTextArea();
                })
            },
            form_has(type) {
                var find = this.form.form_array.find(item => {
                    return item.type == type;
                })
                if (find) {
                    return find;
                } else {
                    return false;
                }
            },
            getProvince() {
                axios.get('https://storeapi.orderlink.in/list/province').then((response) => {
                    // success callback
                    // console.log(response);
                    this.list_province = response.data;
                }, (response) => {
                    // error callback
                });
            },
            getCity() {
                axios.get('https://storeapi.orderlink.in/list/city?id=' + this.user_location.province_id).then((response) => {
                    // success callback
                    this.list_city = response.data;
                    this.list_city.forEach(item => {
                        item.list_city_show = item.type + ' ' + item.city_name;
                    })
                }, (response) => {
                    // error callback
                });
            },
            getSubdistrict() {
                axios.get('https://storeapi.orderlink.in/list/district?id=' + this.user_location.city_id).then(response => {
                    // success callback
                    this.list_subdistrict = response.data;
                }, (response) => {
                    // error callback
                });
            },
            getUserLocation() {
                this.user_data.province = this.user_location.data.province;
                this.user_data.city = this.user_location.data.city;
                this.user_data.subdistrict = this.user_location.data.subdistrict_name;
                this.user_data.location_id = this.user_location.data.subdistrict_id;
                var findcity = this.list_city.find(item => {
                    return item.city_id == this.user_location.city_id;
                })
                if (findcity) {
                    this.user_data.postal_code = findcity.postal_code;
                }
                if (this.form_has('ongkir')) {
                    axios.get('https://storeapi.orderlink.in/check/ongkir', {
                        params: {
                            origin: this.form.store_location.city,
                            destination: this.user_data.location_id,
                            weight: this.total_weight,
                            courier: this.form.store_location.courier_list.join(':')
                        }
                    }).then(response => {
                        this.list_available_courier = [];
                        response.data.forEach(item => {
                            if (item.costs.length > 0) {
                                this.list_available_courier.push(item)
                            }
                        })
                    })
                }
            },
            submitNow() {
                if(this.form.after_submit_action.action == 'tetap di halaman ini dan katakan sesuatu'){
                         this.view = false;
                }
                localStorage.setItem('counter_'+this.user_data.visitor_id, 0);
                var data = JSON.parse(JSON.stringify(this.user_data));
                data.produk = JSON.stringify(data.produk);
                data.other = JSON.stringify(data.other);
                data.rincian_harga = JSON.stringify(data.rincian_harga);
                axios.post(this.server_url + '/form-result', data).then(response => {
                    localStorage.setItem(data.visitor_id, JSON.stringify(response.data))
                    if(this.form.after_submit_action.action == 'pindah ke halaman lain'){
                         window.location = this.form.after_submit_action.new_url;
                    }
                })
            },
            coloringForm() {
                return `<style>
    #milligram input[type='email']:focus,
    #milligram input[type='number']:focus,
    #milligram input[type='password']:focus,
    #milligram input[type='search']:focus,
    #milligram input[type='tel']:focus,
    #milligram input[type='text']:focus,
    #milligram input[type='url']:focus,
    #milligram textarea:focus,
    #milligram select:focus {
        border-color: ` + this.form.form_color + `;
    }
    .radio-wrap input:checked~.checkmark {
        background-color: ` + this.form.form_color + `;
    }
    .checkbox-wrap input:checked~.checkmark {
        background-color: ` + this.form.form_color + `;
    }
    body {
        background: ` + this.form.background_color + `;
    }
</style>`
            },
        }
    }
    function getQueryParams(qs) {
        qs = qs.split('+').join(' ');
        var params = {},
            tokens,
            re = /[?&]?([^=]+)=([^&]*)/g;
        while (tokens = re.exec(qs)) {
            params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
        }
        return params;
    }
</script>
<style lang="sass">
    @import '../../sass/milligram/milligram.sass'
</style>
<style>
    .checkbox-wrap {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Hide the browser's default checkbox */
    .checkbox-wrap input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }
    /* On mouse-over, add a grey background color */
    .checkbox-wrap:hover input~.checkmark {
        background-color: #ccc;
    }
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .checkbox-wrap input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .checkbox-wrap .checkmark:after {
        left: 9px;
        top: 5px;
        width: 7px;
        height: 14px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /* The container */
    .radio-wrap {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Hide the browser's default radio button */
    .radio-wrap input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }
    /* On mouse-over, add a grey background color */
    .radio-wrap:hover input~.checkmark {
        background-color: #ccc;
    }
    /* When the radio button is checked, add a blue background */
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the indicator (dot/circle) when checked */
    .radio-wrap input:checked~.checkmark:after {
        display: block;
    }
    /* Style the indicator (dot/circle) */
    .radio-wrap .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    .loader {
        position: fixed;
        top: 45vh;
        left: 45vw;
    }
    .container {
        background: white;
    }
    #milligram>.container {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    body {
        margin: 0;
        padding: 0;
    }
</style>
