<template>
	<vue-perfect-scrollbar style="height:410px" :settings="settings">
		<v-list two-line class="notification-wrap">
			<template v-for="item in data">
				<v-list-tile
					avatar
					ripple
					:key="item.id"
				>
					<v-list-tile-avatar>
						<!-- <v-icon :color="item.iconColor">{{item.icon}}</v-icon> -->
                        10%
					</v-list-tile-avatar>
					<v-list-tile-content>
						<v-list-tile-sub-title class="grey--text fs-12">{{item.url}}</v-list-tile-sub-title>
						<v-list-tile-title><h6 class="mb-0">{{item.title ? item.title : (item.produk ? item.produk : 'no title')}}</h6></v-list-tile-title>
					</v-list-tile-content>
					<v-list-tile-action>
						<v-list-tile-action-text>
                            <v-menu open-on-hover top offset-y>
      <v-btn
        slot="activator"

        dark
        icon
      >
        <v-icon color="grey lighten-5">more_vert</v-icon>
      </v-btn>

      <v-list>
          <v-list-tile target="_blank" :href="'//'+item.url">
              Lihat Form
          </v-list-tile>
        <v-list-tile
          v-for="(i, index) in [{title : 'Edit', path : '/forms/edit/'+item.id},{title : 'Statistik', path : '/forms/statistik/'+item.id}]"
          :key="index"
         @click="$router.push(i.path)"
        >
          <v-list-tile-title>{{ i.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
                        </v-list-tile-action-text>
					</v-list-tile-action>
				</v-list-tile>
			</template>
		</v-list>
	</vue-perfect-scrollbar>
</template>

<script>
import axios from 'Api';
export default {
    mounted(){
        axios.get('/forms').then(response=>{
            this.data = response.data;
            this.data = this.data.map(item=>{
                item.produk = JSON.parse(item.produk);
                return item;
            })
        })
    },
  data() {
    return {
      data: [],
      settings: {
        maxScrollbarLength: 150
      }
    };
  }
};
</script>
