<template lang="html">
  <v-container grid-list-md>
    <componentOne> </componentOne>

    <componentTwo> </componentTwo>

    <componentThree> </componentThree>


  </v-container>
</template>

<script>
import componentOne from './components/ComponentOne.vue';
import componentTwo from './components/ComponentTwo.vue';
import componentThree from './components/ComponentThree.vue';


export default {
  components: {
    componentOne, componentTwo,
    componentThree
  },
  data(){
    return {

    }
  },
}
</script>

<style lang="css">
</style>
