<template>
    <div>
        <v-container fluid grid-list-xl>
            <v-layout row wrap>
                <v-flex xl6 lg6 md6 sm7 xs12>

                    <div class="welcome-message mb-3">
                        <h4>{{greeting()}}, {{user.name}}.</h4>
                        <p>Here’s what’s happening with your store this week.</p>
                    </div>
                    <div class="welcome-chart">
                        <v-layout row wrap>
                            <v-flex xl6 lg6 md6 sm6 xs12>
                                <h2 class="mb-0 grey--text">$21,349.29</h2>
                                <span class="d-block fs-12 mb-3 grey--text">Earned Today</span>
                                <bar-chart :height="110" :dataSets="earnedToday">
                                </bar-chart>
                            </v-flex>
                            <v-flex xl6 lg6 md6 sm6 xs12>
                                <h2 class="mb-0 grey--text">15,800</h2>
                                <span class="d-block fs-12 mb-3 grey--text">Items Sold</span>
                                <bar-chart :height="110" :dataSets="itemsSold">
                                </bar-chart>
                            </v-flex>
                        </v-layout>
                    </div>
                </v-flex>
                <v-flex xl6 lg6 md6 xs12 sm5 class="d-sm-none">
                    <div class="d-custom-flex align-items-center justify-center">
                        <img class="img-responsive" src="/static/img/agency-welcome.png" height="300" width="550" alt="agency block">
                    </div>
                </v-flex>
            </v-layout>

            <v-layout row wrap >
              <v-flex md9 offset-md1>
                <Information></Information>
              </v-flex>
            </v-layout>

            <v-layout row wrap>
              <v-flex md12>
                <top-table> </top-table>
              </v-flex>
            </v-layout>

        </v-container>
    </div>
</template>
<script>
    import BarChart from "Components/Charts/BarChart";
    import LineChartWithArea from "Components/Charts/LineChartWithArea";
    import LineChartShadow from "Components/Charts/LineChartShadow";
    import AdCampaignPerfomance from "Components/Charts/AdCampaignPerfomance";
    import DoughnutChartV2 from "Components/Charts/DoughnutChartV2";
    import NewsLetterCampaign from "Components/Charts/NewsLetterCampaign";
    // widgets
    import TodoList from "Components/Widgets/ToDoList";
    import ProjectStatus from "Components/Widgets/ProjectStatus";
    import UsersList from "Components/Widgets/UsersList";
    import RecentSales from "Components/Widgets/RecentSales";
    import QuoteOfTheDay from "Components/Widgets/QuoteOfTheDay";
    import NewOrderCountdown from "Components/Widgets/NewOrderCountdown";
    import Followers from "Components/Widgets/Followers";
    import BookingInfo from "Components/Widgets/BookingInfo";
    import EmployeePayroll from "Components/Widgets/EmployeePayroll";
    import Mailbox from "Components/Widgets/Mailbox";
    import ActiveUser from "Components/Widgets/ActiveUser";
    import TopAuthors from "Components/Widgets/TopAuthors";
    import Chat from "Components/Widgets/Chat";
    import EventCalendar from "Components/Widgets/EventCalendar";
    import Activity from "Components/Widgets/Activity";
    import TodayWeather from "Components/Widgets/TodayWeather";
    import ProfitShare from "Components/Widgets/ProfitShare";
    // data
    import {
        earnedToday,
        itemsSold,
        salesAndEarning,
        totalEarnings,
        netProfit,
        onlineRevenue,
        totalExpences,
        adCampaignPerfomanceData,
    } from "./data";
    import {
        activeUser
    } from "Views/widgets/data";

    import Information from './components/Information.vue';
    import TopTable from './components/TopTable.vue';

    export default {
        components: {
            BarChart,
            LineChartWithArea,
            LineChartShadow,
            TodoList,
            ProjectStatus,
            UsersList,
            RecentSales,
            QuoteOfTheDay,
            NewOrderCountdown,
            Followers,
            BookingInfo,
            EmployeePayroll,
            AdCampaignPerfomance,
            DoughnutChartV2,
            Mailbox,
            ActiveUser,
            TopAuthors,
            Chat,
            EventCalendar,
            Activity,
            NewsLetterCampaign,
            TodayWeather,
            ProfitShare,
            Information,
            TopTable
        },
        data() {
            return {
                user,
                earnedToday,
                itemsSold,
                salesAndEarning,
                totalEarnings,
                netProfit,
                onlineRevenue,
                totalExpences,
                adCampaignPerfomanceData,
                activeUser
            };
        },
        created() {
          this.$store.state.settings.header = true;
          this.$store.state.settings.link = "Dashboard >"
        },
        methods: {
            greeting() {
                var d = new Date();
                var time = d.getHours();
                 if (time > 18) {
                    return 'Selamat Malam'
                }
                 if (time > 16) {
                    return 'Selamat Sore'
                }
                 if (time > 12) {
                    return 'Selamat Siang'
                }
                if (time < 12) {
                    return 'Selamat Pagi'
                }



            }
        }
    };
</script>
