<template>
  <div class="session-wrapper">
		<!-- <div class="session-left">
			<session-slider-widget></session-slider-widget>
		</div> -->
		<v-layout row wrap class="mt-5">
      <v-flex md4 offset-md4>
        <v-card>
          <v-card-text>
            <div class="text-xs-center">
        			<div class="session-table-cell">
        				<div class="session-content">
        					<img
        						:src="appLogo"
        						class="img-responsive mb-3"
        						width="200"
        						height="200"
        					/>
        					<h2 class="mb-3">{{$t('message.loginToUser')}}</h2>
        					<p class="fs-14">{{$t('message.enterUsernameAndPasswordToAccessControlPanelOf')}} {{brand}}.</p>
        					<v-form v-model="valid" class="mb-4">
        						<v-text-field
        							label="E-mail ID"
        							v-model="email"
        							:rules="emailRules"
        							required
        						></v-text-field>
        						<v-text-field
        							label="Password"
        							v-model="password"
        							type="password"
        							:rules="passwordRules"
        							required
        						></v-text-field>
        						<v-checkbox
        							color="primary"
        							label="Remember me"
        							v-model="checkbox"
        						></v-checkbox>
        						<div>
        							<v-btn large @click="submit" block color="primary">{{$t('message.loginNow')}}</v-btn>
        							<v-btn large @click="onCreateAccount" block color="warning">{{$t('message.createAccount')}}</v-btn>
        						</div>
        						<p>{{$t('message.bySigningUpYouAgreeTo')}} {{brand}}</p>
        						<router-link to="">{{$t('message.termsOfService')}}</router-link>
        					</v-form>
        					<!-- <div class="session-social-links d-inline-block">
        						<ul class="list-inline">
        							<li @click="signInWithFacebook">
        								<span class="facebook-bg session-icon">
        									<i class="ti-facebook"></i>
        								</span>
        							</li>
        							<li @click="signInWithGoogle">
        								<span class="google-bg session-icon">
        									<i class="ti-google"></i>
        								</span>
        							</li>
        							<li @click="signInWithTwitter">
        								<span class="twitter-bg session-icon">
        									<i class="ti-twitter-alt"></i>
        								</span>
        							</li>
        							<li @click="signInWithGithub">
        								<span class="github-bg session-icon">
        									<i class="ti-github"></i>
        								</span>
        							</li>
        						</ul>
        						<v-btn
        							color="error"
        							@click="signinWithAuth0"
        						>
        							Signin With Auth0
        						</v-btn>
        					</div> -->
        				</div>
        			</div>
        		</div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
	</div>
</template>

<script>
import firebase from "firebase";
import { mapGetters } from "vuex";
import SessionSliderWidget from "Components/Widgets/SessionSlider";
import AppConfig from "Constants/AppConfig";
//
// import AuthService from "../../auth/AuthService";
//
// const auth = new AuthService();
// const { login, logout, authenticated, authNotifier } = auth;

export default {
  components: {
    SessionSliderWidget
  },
  data() {
    return {
      checkbox: false,
      valid: false,
      email: "",
      password: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid"
      ],
      passwordRules: [v => !!v || "Password is required"],
      appLogo: AppConfig.appLogo2,
      brand: AppConfig.brand,
    };
  },
  created() {
    this.$store.state.settings.header = false;
  },
  methods: {
    submit() {
      let email = this.email;
      let password = this.password;


    },
    onCreateAccount() {
      this.$router.push("/register");
    },
  }
};
</script>
