<template>
  <v-container>
    <v-layout column justify-center>
      <v-flex class="mb-3">
        <v-card>
          <v-card-title>
            LINK PAGES
            <v-spacer></v-spacer>
            <v-btn color="primary" to="/link-pages/create">Buat Baru</v-btn>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex>
        <v-data-table
    :headers="headers"
    :items="desserts"
    class="elevation-1"
  >
    <template slot="headerCell" slot-scope="props">
      <v-tooltip bottom>
        <span slot="activator">
          {{ props.header.text }}
        </span>
        <span>
          {{ props.header.text }}
        </span>
      </v-tooltip>
    </template>
    <template slot="items" slot-scope="props">
      <td>{{ props.item.title }}</td>
      <td>{{ props.item.updated_at }}</td>
       <td>{{ props.item.created_at }}</td>
      <td><v-btn color="warning" :href="`/link-pages/${props.item.id}/edit`" target="_blank"  ><v-icon left>search</v-icon>preview</v-btn><v-btn color="primary" :to="`/link-pages/edit/${props.item.id}`"><v-icon left>edit</v-icon>edit</v-btn><v-btn class="error" @click="deleteItem(props.item.id)" ><v-icon left>delete</v-icon>delete</v-btn></td>
    </template>
  </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import axios from 'Api'
  export default {
    mounted(){
      axios.get('/link-pages').then(response=>{
        this.desserts = response.data;
      })
    },
    created(){
      this.$store.state.settings.link = 'Links > Link Pages > All Link Pages'
    },
    data() {
      return {
        search: '',
        selected: [],
        headers: [
          {
            text: 'Title',
            value: 'title'
          },
          {
            text: 'Last Updated',
            value: 'updated_at'
          },
          {
            text: 'Created at',
            value: 'created_at'
          },
          {
            text: 'Action',
            value: 'action'
          }
        ],
        desserts: [
        ]
      }
    },
    methods :{
      deleteItem(id){
        var index = this.desserts.findIndex(item=>{
          return item.id == id;
        })
        this.desserts.splice(index,1);
        axios.delete('/link-pages/'+id);

      }
    }
  }
</script>
