<template>
    <v-container grid-list-lg>
        <v-layout row>
            <v-flex md10 offset-md1>
                <v-card>
            <v-card-title>
                <v-btn @click="$router.push('/link-pages')" icon>
                    <v-icon>arrow_back</v-icon>
                </v-btn> LINK PAGE BUILDER
                <v-spacer></v-spacer>
                <v-btn @click="savePage()" class="primary">SIMPAN</v-btn>
                <v-btn v-if="$route.params.id" :href="`/link-pages/${$route.params.id}/edit`" target="_blank" class="warning">Preview</v-btn>
            </v-card-title>
        </v-card>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12 md7 offset-md1>
                <div>
                    <div v-if="activeElement.dialog==true">
                        <v-card>
                            <v-card-title>
                                <v-btn @click="activeElement.dialog = false" icon>
                                    <v-icon>arrow_back</v-icon>
                                </v-btn>
                                <h3>{{activeElement.element_id}}</h3>
                            </v-card-title>
                            <v-card-text>
                                <v-layout v-if="activeElement.type == 'loader'" row wrap>
                                    <v-flex xs6 md2>
                                        <v-layout row>
                                            <v-text-field label="color" @input="editColor()" v-model="activeElement.color"></v-text-field>
                                            <input class="mt-4" type="color" @input="editColor()" v-model="activeElement.color" />
                                        </v-layout>
                                    </v-flex>
                                    <v-flex xs6 md2>
                                        <v-layout row class="mt-3">
                                            <v-btn icon @click="moveLayer(-1)">
                                                <v-icon>expand_more</v-icon>
                                            </v-btn>
                                            <v-btn icon @click="moveLayer(1)">
                                                <v-icon>expand_less</v-icon>
                                            </v-btn>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                                <v-layout row wrap v-if="activeElement.type == 'text'">
                                    <froala tag="div" :config="config" v-model="activeElement.content"></froala>
                                </v-layout>
                            </v-card-text>
                        </v-card>
                    </div>
                    <div v-if="activeElement.dialog == false">

                            <v-card class="mt-3">
                                <v-card-title>
                                    <p>PILIH ELEMENT</p>
                                </v-card-title>
                                <v-card-text>
                                    <v-layout row wrap>
                                        <v-flex v-for="(item,index) in $store.state.linkPages" :key="index" xs3 md2 lg1 class="loader loader--style1" title="0">
                                            <div style="max-width : 50px; max-height : 50px;" @click="addLoader(item)" v-html="item"></div>
                                        </v-flex>
                                        <!-- 2 -->
                                    </v-layout>
                                    <v-divider></v-divider>
                                    <v-layout row wrap>
                                        <v-btn @click="addText('p')">TAMBAH TEXT
                                            <v-icon right>title</v-icon>
                                        </v-btn>
                                        <!-- <v-btn @click="addText('img')">TAMBAH GAMBAR
                                                        <v-icon right>add_photo_alternate</v-icon>
                                                    </v-btn> -->
                                    </v-layout>
                                </v-card-text>
                            </v-card>
                            <v-card class="mt-3">
                                <v-card-title>
                                    ISI BEBERAPA DATA BERIKUT
                                </v-card-title>
                                <v-card-text>
                                    <v-layout row wrap>
                                        <v-flex xs12 md6>
                                            <v-text-field label="Title" v-model="title"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12>
                                            <v-textarea auto-grow name="input-7-1" label="Custom Head HTML" v-model="head_html" hint="Gunakan Tombol di bawah ini untuk quick import"></v-textarea>
                                            <v-layout>
                                                <v-chip color="orange" small text-color="white">
                                                    Import Last
                                                    <v-icon right>history</v-icon>
                                                </v-chip>
                                                <v-chip color="primary" @click="head_html+=$store.state.pixelCodes" small text-color="white">
                                                    Facebook Pixel
                                                    <v-icon right>cake</v-icon>
                                                </v-chip>
                                            </v-layout>
                                        </v-flex>
                                        <v-flex xs12>
                                            <v-textarea auto-grow name="input-7-1" label="Custom Body HTML" v-model="body_html" hint="Gunakan Tombol di bawah ini untuk quick import"></v-textarea>
                                            <v-layout>
                                                <v-chip color="orange" small text-color="white">
                                                    Import Last
                                                    <v-icon right>history</v-icon>
                                                </v-chip>
                                            </v-layout>
                                        </v-flex>
                                        <!-- 2 -->
                                    </v-layout>
                                </v-card-text>
                            </v-card>

                    </div>
                </div>
            </v-flex>
            <v-flex xs12 md3>
                <v-card class="mt-3" style="height: 568px;max-width: 320px">
                    <div id="builder" style="height: 568px; max-width: 320px;">
                        <VueDraggableResizable v-for="(item, index) in elementList" :key="index" @activated="onActivated(item)" @resizing="onResize" :x="item.x" :y="item.y" :w="item.width" :h="item.height" @dragging="onDrag" parent>
                            <div v-if="item.type == 'loader'">
                                <div v-html="item.content" @click="item.dialog = true"></div>
                                <div v-html="item.css_text"></div>
                            </div>
                            <div v-if="item.type == 'text'">
                                <div @click="item.dialog = true" v-html="item.content"></div>
                            </div>
                        </VueDraggableResizable>
                    </div>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import VueDraggableResizable from "vue-draggable-resizable";
    import {
        stylingLoader,
        editLoaderColor
    } from "Helpers/helpers";
    import axios from "Api";
    export default {
        components: {
            VueDraggableResizable
        },
        mounted() {
            $(document).bind("keyup", e => {
                if (e.key == "Delete") {
                    var index = this.elementList.findIndex(item => {
                        return item.element_id == this.activeElement.element_id;
                    });
                    this.elementList.splice(index, 1);
                    this.activeElement = {
                        dialog: false
                    };
                }
            });
            if (this.$route.params.id) {
                this.initWhenEdit()
            } else {
                this.initWhenCreate();
            }
        },
        created(){
          this.$store.state.settings.link = 'Links > Link Pages > Create New Link Pages'
        },
        data: function() {
            return {
                config: {
                    charCounterCount: false,
                    events: {
                        "froalaEditor.initialized": function() {
                            console.log("initialized");
                        }
                    }
                },
                activeElement: {
                    dialog: false
                },
                el_counter: 1,
                elementList: [],
                head_html: "",
                body_html: "",
                title: "Edit This Title"
            };
        },
        methods: {
            initWhenEdit() {
                axios.get('/link-pages/' + this.$route.params.id).then(response => {
                    Object.keys(response.data).forEach(key => {
                        this.$data[key] = response.data[key];
                        if (key == 'elementList') {
                            this.$data[key] = JSON.parse(response.data[key])
                        }
                    })
                })
            },
            initWhenCreate() {
                var BuilderWidth = $("#builder").width();
                var BuilderHeight = $("#builder").height();
                var content = this.$store.state.linkPages[0].replace(
                    'id="loader-1"',
                    `id="el-${this.el_counter}"`
                );
                this.elementList.push({
                    type: "loader",
                    width: 100,
                    height: 100,
                    element_id: "#el-1",
                    dialog: false,
                    x: Math.ceil(BuilderWidth / 2) - 50,
                    y: Math.ceil(BuilderHeight / 2) - 50,
                    css_text: `<style>
    svg#el-1 path,
    svg#el-1 rect {
        fill: #FF6700;
    }
</style>`,
                    color: "#FF6700",
                    content: content
                });
            },
            savePage() {
                var data = JSON.parse(JSON.stringify(this.$data));
                data.generated_html = $("#builder").html();
                delete data.config;
                delete data.activeElement;
                data.elementList = JSON.stringify(data.elementList);
                axios.post("/link-pages", data).then(response => {
                    if (response.data) {
                        this.$router.push("/link-pages/edit/" + response.data.id);
                    }
                });
            },
            moveLayer(c) {
                var index = this.elementList.findIndex(item => {
                    return item.element_id == this.activeElement.element_id;
                });
                if (
                    (index > 0 && c == -1) ||
                    (index < this.elementList.length - 1 && c == 1)
                ) {
                    var temp = JSON.parse(JSON.stringify(this.elementList[index + c]));
                    this.elementList.splice(index + c, 1);
                    this.elementList.splice(index, 0, temp);
                }
            },
            addText(type) {
                var content = "";
                if (type == "p") content = `<p>click to change text</p>`;
                if (type == "img")
                    content = `<p><img src="/upload/14ab923f-b144-426c-8af8-6deabf30f470.jpg" style="width: 100%;" class="fr-fic fr-dib"></p>`;
                this.elementList.push({
                    width: 200,
                    height: 50,
                    x: 0,
                    y: 300,
                    dialog: false,
                    type: "text",
                    element_id: "#el-" + this.el_counter,
                    css_text: ``,
                    color: "",
                    content: content
                });
            },
            addLoader(item) {
                this.el_counter++;
                item = item.replace('id="loader-1"', `id="el-${this.el_counter}"`);
                this.elementList.push({
                    width: 100,
                    height: 100,
                    x: 150,
                    y: 300,
                    dialog: false,
                    type: "loader",
                    element_id: "#el-" + this.el_counter,
                    css_text: stylingLoader(this.el_counter),
                    color: "#000",
                    content: item
                });
            },
            editElement(item) {
                console.log(item);
            },
            editColor() {
                this.activeElement.css_text = editLoaderColor(this.activeElement);
            },
            onResize: function(x, y, width, height) {
                this.activeElement.x = x;
                this.activeElement.y = y;
                this.activeElement.width = width;
                this.activeElement.height = height;
            },
            onActivated(item) {
                this.activeElement = item;
            },
            onDrag(x, y) {
                this.activeElement.x = x;
                this.activeElement.y = y;
                // this.x = x
                // this.y = y
            }
        }
    };
</script>
<style>
    a[href="https://froala.com/wysiwyg-editor"],
    a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
        display: none !important;
        position: absolute;
        top: -99999999px;
    }
</style>
